<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'CATALOGS_LIST.PROJECT_CATEGORY.INDEX.TITLE' | translate" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
				<ng-container ktPortletTools>
					<div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline">
						<button ngbDropdownToggle type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md">
							<i class="flaticon-more-v2"></i>
						</button>
						<div ngbDropdownMenu class="dropdown-menu">
							<ul class="kt-nav">
								<li class="kt-nav__item">
									<a [routerLink]="['add']" class="kt-nav__link">
										<i class="kt-nav__link-icon flaticon2-add-circular-button"></i>
										<span class="kt-nav__link-text">{{ 'CATALOGS_LIST.PROJECT_CATEGORY.INDEX.ACTIONS.ADD' | translate }}</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="table-header" *ngIf="(allCategory$ | async) as allCategory">
					<mat-form-field>
						<input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'CATALOGS_LIST.PROJECT_CATEGORY.INDEX.TABLE.FILTER' | translate }}">
					</mat-form-field>
				</div>
				<div class="table-container mat-elevation-z8">
					<mat-table [dataSource]="dataSource" matSort>
						<ng-container matColumnDef="categoryID">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{ 'CATALOGS_LIST.PROJECT_CATEGORY.INDEX.TABLE.ID' | translate }}
							</mat-header-cell>
							<mat-cell *matCellDef="let row"> {{ row.categoryID }} </mat-cell>
						</ng-container>
						<ng-container matColumnDef="categoryName">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{ 'CATALOGS_LIST.PROJECT_CATEGORY.INDEX.TABLE.NAME' | translate }} </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{ row.categoryName }} </mat-cell>
						</ng-container>
						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef>
								{{ 'CATALOGS_LIST.PROJECT_CATEGORY.INDEX.TABLE.ACTIONS' | translate }}
							</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<button [routerLink]="['edit',row.categoryID]" mat-icon-button>
									<mat-icon aria-label="User edit">edit</mat-icon>
								</button>
								<button mat-icon-button (click)="deleteProjectCategory(row.categoryID);">
									<mat-icon aria-label="User delete">delete</mat-icon>
								</button>
							</mat-cell>
						</ng-container>
						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;">
						</mat-row>
					</mat-table>
					<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
