<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'PLANS.DETAIL.TITLE' | translate" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
				<ng-container ktPortletTools>
					<button mat-raised-button type="reset" [routerLink]="['/plans']" routerLinkActive="router-link-active">{{ 'PLANS.DETAIL.ACTIONS.RETURN' | translate }}</button>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'" *ngIf="(planDetail$ | async) as planDetail">
				<div class="row" style="padding-left: 5%; padding-right: 5%;">
					<div class="col-12">
						<p>
							Plan: <span class="kt-font-success">{{ planDetail.planName }}</span>
						</p>
						<p>
							Duración: <span class="kt-font-success">{{ planDetail.planFrecuency + ' ' + planDetail.planInterval }}</span>
						</p>
						<p>
							Costo: <span class="kt-font-success">{{ planDetail.planAmount + ' ' + planDetail.planCurrency }}</span>
						</p>
						<p>
							Fecha de creacion: <span class="kt-font-success">{{ planDetail.planCreated | date:'dd/MM/yyyy' }}</span>
						</p>
					</div>
				</div>
			</kt-portlet-body>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="row" style="padding-left: 5%; padding-right: 5%;">
					<div class="col-12">
						<div class="table-header">
							<mat-form-field>
								<input matInput (keyup)="applyFilter($event.target.value)"
									placeholder="{{ 'NEWS_APPROVED.INDEX.TABLE.FILTER' | translate }}" #filterNew>
							</mat-form-field>
						</div>
						<div class="table-container mat-elevation-z8">
							<mat-table [dataSource]="dataSource" #newsSort matSort>
								<ng-container matColumnDef="subscriptionID">
									<mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ 'NEWS_APPROVED.INDEX.TABLE.ID' | translate }}
									</mat-header-cell>
									<mat-cell *matCellDef="let row"> {{ row.subscriptionID }} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="userName">
									<mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ 'NEWS_APPROVED.INDEX.TABLE.TITLE' | translate }}
									</mat-header-cell>
									<mat-cell *matCellDef="let row">
										{{ row.subscriptionUser.userName + ' ' + row.subscriptionUser.userLName }}
									</mat-cell>
								</ng-container>
								<ng-container matColumnDef="userEmail">
									<mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ 'NEWS_APPROVED.INDEX.TABLE.RESUME' | translate }}
									</mat-header-cell>
									<mat-cell *matCellDef="let row">
										{{ row.subscriptionUser.userEmail }}
									</mat-cell>
								</ng-container>
								<ng-container matColumnDef="subscriptionCreated">
									<mat-header-cell *matHeaderCellDef mat-sort-header>
										{{ 'NEWS_APPROVED.INDEX.TABLE.DATE' | translate }}
									</mat-header-cell>
									<mat-cell *matCellDef="let row">
										{{ row.subscriptionCreated | date:'dd/MM/yyyy' }} </mat-cell>
								</ng-container>
								<mat-header-row *matHeaderRowDef="displayedColumns">
								</mat-header-row>
								<mat-row *matRowDef="let row; columns: displayedColumns;">
								</mat-row>
							</mat-table>
							<mat-paginator #newsPage [pageSizeOptions]="[5, 10, 25, 100]">
							</mat-paginator>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
