<div class="row">
	<div class="col-12" *ngIf="(usersInfo$ | async) as usersInfo">
		<ngx-charts-number-card [results]="usersInfo" [scheme]="colorScheme" [cardColor]="'#77d2d3'">
		</ngx-charts-number-card>

		
	</div>
</div>
<!--
<kt-portlet>
	<kt-portlet-header>
		<ng-container ktPortletTitle>
		</ng-container>
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body></kt-portlet-body>
	<kt-portlet-footer></kt-portlet-footer>
</kt-portlet>
-->
