<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'NEWS.ADD.TITLE' | translate"
				[class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<br><br>
				<form class="new-form" #f="ngForm" (ngSubmit)="addNew(f)" enctype="multipart/form-data">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-xl-10 offset-md-1 offset-xl-1">
							<p>
								<mat-form-field class="new-full-width">
									<input matInput name="newName"
										[placeholder]="'NEWS.ADD.INPUTS.NAME.PLACEHOLDER' | translate" required
										minlength="3" maxlength="180" type="text" #newName="ngModel" ngModel
										[ngModelOptions]="{updateOn: 'blur'}">
									<mat-hint
										*ngIf="newName.invalid && (newName.dirty || newName.touched || f.submitted)"
										class="text-danger">
										<span *ngIf="newName.errors.required">
											{{ 'NEWS.ADD.INPUTS.NAME.ERRORS.NOT_EMPTY' | translate }}
										</span>
										<span *ngIf="newName.errors.minlength">
											{{ 'NEWS.ADD.INPUTS.NAME.ERRORS.MIN_LENGTH' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-sm-12 col-md-10 col-xl-10 offset-md-1 offset-xl-1">
							<p>
								<mat-form-field class="new-full-width">
									<mat-select name="newBusiness" required #newBusiness="ngModel" ngModel
										[ngModelOptions]="{updateOn: 'blur'}"
										[placeholder]="'NEWS.ADD.INPUTS.BUSINESS.PLACEHOLDER' | translate">
										<mat-option value="iPulse Noticias">iPulse Noticias
										</mat-option>
										<mat-option value="Boletin Noticias">Boletin Noticias
										</mat-option>
									</mat-select>
									<mat-hint
										*ngIf="newBusiness.invalid && (newBusiness.dirty || newBusiness.touched || f.submitted)"
										class="text-danger">
										<span *ngIf="newBusiness.errors.required">
											{{ 'NEWS.ADD.INPUTS.BUSINESS.ERRORS.NOT_EMPTY' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-sm-12 col-md-10 col-xl-10 offset-md-1 offset-xl-1">
							<div class="row">
								<div class="col-3 row" *ngFor="let item of uploader.queue">
									<div class="text-center col-12">
										<img [src]="getUrlPreview(item)" style="max-width: 90%; max-height: 150px;">
									</div>
									<div class="text-center col-12">
										<mat-icon style="cursor: pointer;" (click)="item.remove();fileChangeEvent();">
											delete</mat-icon>
									</div>
								</div>
								<div class="col-3 text-center">
									<input id="newImages" type="file" accept="image/x-png,image/jpg,image/jpeg"
										ng2FileSelect [uploader]="uploader" multiple name="newImages" required
										#newImages="ngModel" ngModel [ngModelOptions]="{updateOn: 'blur'}"
										style="display: none;" (change)="fileChangeEvent()" />
									<img src="https://static.thenounproject.com/png/396915-200.png"
										style="max-width: 75%; max-height: 100px; cursor: pointer;"
										title="Agregar imagen" (click)="openFileBrowser($event)">
								</div>
							</div>
						</div>
						<br>
						<div class="col-sm-12 col-md-10 col-xl-10 offset-md-1 offset-xl-1">
							<p>
								<mat-form-field class="new-full-width">
									<textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
										cdkAutosizeMinRows="10" cdkAutosizeMaxRows="500" name="newBody"
										[placeholder]="'NEWS.ADD.INPUTS.BODY.PLACEHOLDER' | translate" required
										minlength="3" maxlength="20000" #newBody="ngModel" ngModel
										[ngModelOptions]="{updateOn: 'blur'}"></textarea>
									<mat-hint
										*ngIf="newBody.invalid && (newBody.dirty || newBody.touched || f.submitted)"
										class="text-danger">
										<span *ngIf="newBody.errors.required">
											{{ 'NEWS.ADD.INPUTS.BODY.ERRORS.NOT_EMPTY' | translate }}
										</span>
										<span *ngIf="newBody.errors.minlength">
											{{ 'NEWS.ADD.INPUTS.BODY.ERRORS.MIN_LENGTH' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-12 row">
							<div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
								<button mat-raised-button type="reset" [routerLink]="['/news']"
									routerLinkActive="router-link-active">{{ 'NEWS.ADD.ACTIONS.RETURN' | translate }}</button>
								&nbsp;&nbsp;
								<button mat-raised-button color="primary"
									type="submit">{{ 'NEWS.ADD.ACTIONS.ADD' | translate }}</button>
							</div>
						</div>
					</div>
				</form>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
