.new-form {
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 3%;
}
.new-full-width {
	width: 100%;
}
new-container {
	display: flex;
	flex-direction: column;
}
.new-container > * {
	width: 100%;
}
