.display-form {
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 3%;
}
.input-full-width {
	width: 100%;
}
input-container {
	display: flex;
	flex-direction: column;
}
.input-container > * {
	width: 100%;
}
