.header {
	min-height: 64px;
	padding: 8px 24px 0;
}
h1{
	font-size:1.2em;
	color:#4d4d4d;
	padding: 18px 24px 0;
}

h3{
	font-size:1.5em;
	color:#4d4d4d;
	//padding: 8px 24px 0;
}
h4{
	margin:10px 0px 15px 0px; //5 10
	font-size:1.2em;
	color:#4d4d4d;
	//padding: 8px 24px 0;
}
.fileLink{
	float:left;
	width:auto;
}
.fileLink a{
	margin: 0px 8px 0px 0px;
}
.liDivider{
	float: left;
	margin-right: 20px;
	width: auto;
	max-width: 200px;
	//background-color: darkgreen;
}
.left{
	float: left;
	//margin-right: 20px;
	width: auto;
	padding: 0px;
	//background-color: darkgreen;
}
.left h3{
	padding-right: 5px;
}
.right{
	float: left;
	margin-right: 20px;
	width: auto;
	padding-left: 0px;
	padding-top:8px;
	//background-color: darkgreen;
	
}
.right p{
	color:#000000;
	padding-left: 0px;
	margin:0px;
	padding-bottom: 0px;
}
hr{
	left:0;
	width: 100%;
	//border:solid;
}

.bruh{
	height: auto;
}

kt-portlet{
	//padding-left: 10px;
	//margin: 0px !important;
	margin-bottom: 100px !important;
}
kt-portlet-body{
	//margin: 0px !important;
}
p{
	color: #48465b;
}
.patientInfo{
	height: auto;
	float: left; width: 100% 
}
strong{
	font-weight: 600;
	color: #48465b;
	width: auto;
}
.patientInfo p{
	//color: #48465b;
	width: auto;
	max-width: 200px;
	float: right;
	text-align: right;
	word-wrap: break-word;
}
.buttons{
	margin-top: 400px;
	width: 100%;
}
.buttons .btn{
	width: 100%;
	margin-bottom: 15px;
}
.btnsuccess{
	color: white;
}
.cancel{
	color: #F4203A;
}
.back{
	border: 1px solid lightgray;
}

.results{
	padding-left:5px;
}
li{
	float: left; width: 100%;
	list-style-type: none;
}
li i{
	padding-right: 8px;
	font-size: 20px;
	color:#77D2D3;
}
li hr{
	//float: left;
	width: 100%;
}

.history{
	padding:0px 0px 0px 0px;
}
.history p{
	margin:0px 0px 5px 0px;
	//margin-bottom: 5px;
}
mat-accordion{
	//background-color: green;
	margin:0px;
	width: 100%;
	padding:0px;
}
mat-expansion-panel{
	padding:0px
}
mat-expansion-header{
	
	height: 100%;
}






textarea{
	height:60px;
	resize: none !important;
	color:#000000;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	color: #000000 !important;
	padding: 5px 0px 0px 5px !important;
}


input{
	height:30px;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: gray !important;
	padding: 0px 0px 0px 5px !important;
	pointer-events:none !important;
	color: #000000 !important;
}

ul{
	color:#000000;
}
.doctorMedCenter{
	margin-bottom: 20px;
}

.buttons{
	margin: 0px 20px 5px 0px
}

.user-form {
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 3%;
}
.user-full-width {
	width: 100%;
}
user-container {
	display: flex;
	flex-direction: column;
}
.user-container > * {
	width: 100%;
}
input{
	color: #000000;
}

.historyContainer{
	margin: 100px !important;
}




// .header {
// 	min-height: 64px;
// 	padding: 8px 24px 0;
// }
// h1{
// 	font-size:1.2em;
// 	color:#4d4d4d;
// 	padding: 18px 24px 0;
// }

// h3{
// 	font-size:1.2em;
// 	color:#4d4d4d;
// 	padding: 8px 24px 0;
// }
// .fileLink{
// 	float:left;
// 	width:auto;
// }
// .fileLink a{
// 	margin: 0px 8px 0px 0px;
// }
// .liDivider{
// 	float: left;
// 	margin-right: 20px;
// 	width: auto;
// 	max-width: 200px;
// 	//background-color: darkgreen;
// }
// .left{
// 	float: left;
// 	//margin-right: 20px;
// 	width: auto;
// 	padding: 0px;
// 	//background-color: darkgreen;
// }
// .left h3{
// 	padding-right: 5px;
// }
// .right{
// 	float: left;
// 	margin-right: 20px;
// 	width: auto;
// 	padding-left: 0px;
// 	padding-top:8px;
// 	//background-color: darkgreen;
	
// }
// .right p{
// 	color:#000000;
// 	padding-left: 0px;
// 	margin:0px;
// 	padding-bottom: 0px;
// }
// hr{
// 	left:0;
// 	width: 95%;
// 	//border:solid;
// }

// kt-portlet{
// 	padding-left: 10px;
// }



// textarea{
// 	height:60px;
// 	resize: none !important;
// 	color:#000000;
// 	border-style: solid;
// 	border-width: 1px;
// 	border-color: gray;
// 	color: #000000 !important;
// 	padding: 5px 0px 0px 5px !important;
// }


// input{
// 	height:30px;
// 	border-style: solid !important;
// 	border-width: 1px !important;
// 	border-color: gray !important;
// 	padding: 0px 0px 0px 5px !important;
// 	pointer-events:none !important;
// 	color: #000000 !important;
// }

// ul{
// 	color:#000000;
// }
// .doctorMedCenter{
// 	margin-bottom: 20px;
// }

// .buttons{
// 	margin: 0px 20px 5px 0px
// }

// .user-form {
// 	width: 100%;
// 	padding-left: 2%;
// 	padding-right: 2%;
// 	padding-bottom: 3%;
// }
// .user-full-width {
// 	width: 100%;
// }
// user-container {
// 	display: flex;
// 	flex-direction: column;
// }
// .user-container > * {
// 	width: 100%;
// }
// input{
// 	color: #000000;
// }