
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 bruh">   
        <kt-portlet>
            <kt-portlet-body>
                <br>
                <h3>{{data.patientName}} {{data.patientLName}}</h3>
                <p>{{dataDetail.medicalCenterName}}</p>
                <br>
                <div >
                    <div class="patientInfo">
                        <strong>Edad:</strong>
                        <p *ngIf="data.patientAge">{{data.patientAge}} años</p>
                        <p *ngIf="!data.patientAge">----</p>
                    </div>
                    <div class="patientInfo"> 
                        <strong>Tipo de sangre:</strong>
                        <p *ngIf="data.patientBloodType">{{data.patientBloodType}}</p>
                        <p *ngIf="!data.patientBloodType">----</p>
                    </div>
                    <div class="patientInfo"> 
                        <strong>Presión arterial:</strong>
                        <p *ngIf="data.patientBloodPressure">{{data.patientBloodPressure}}</p>
                        <p *ngIf="!data.patientBloodPressure">----</p>
                        </div>
                    <div class="patientInfo">
                        <strong>Alergias:</strong>
                        <p *ngIf="data.patientAllergies">{{data.patientAllergies}}</p> 
                        <p *ngIf="!data.patientAllergies">Ninguna</p>  
                    </div>
                    <div class="patientInfo"> 
                        <strong>Sexo:</strong>
                        <p *ngIf="patientGender">{{this.patientGender}}</p>
                        <p *ngIf="!patientGender">----</p>
                    </div>
                    <div class="patientInfo"> 
                        <strong>Correo:</strong>
                        <p *ngIf="data.patientEmail">{{data.patientEmail}}</p>
                        <p *ngIf="!data.patientEmail">----</p>
                    </div>
                </div>
                <br><br>

                <div class="buttons">
                    <button class="btn btnsuccess" color="primary" type="button" (click)="startDiagnostic(data.medicalConsultationID)" [routerLink]="['/consultations/add', data.medicalConsultationID]" >Crear prediagnóstico</button>
                    <a href="" class="btn back" [routerLink]="['/consultations']" >Regresar</a>
                    <br><br>
                    <a class="btn cancel" (click)="cancelConsultation(data.medicalConsultationID)" [routerLink]="['/consultations']">Cancelar consulta</a>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>

    <div class="col">
            <kt-portlet>
                <h1 (click)="notificacion()">Consulta #{{data.medicalConsultationID}}</h1>
                <hr>
                <kt-portlet-body>
                    <h3>Información de la consulta</h3>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Doctor</h4>
                            <p>{{dataDetail.doctorMedicalID}} - {{dataDetail.doctorName}}</p>
                        </div> 
                    </div>

                    <h4>Signos vitales</h4>
                    <p>{{dataDetail.consultationVitalSigns}}</p>

                    <h4>Motivo de consulta</h4>
                    <p>{{dataDetail.consultationReason}}</p>

                    <h4>Resumen de interrogatorio</h4>
                    <p>{{dataDetail.consultationSummary}}</p>

                    <h4>Diagnostico</h4>
                    <p>{{dataDetail.consultationDiagnosis}}</p>

                    <h4>Resultados de estudios</h4>
                    <p *ngIf="fileArray.length == 0">--No hay estudios previos.--</p>
                    <ul *ngIf="fileArray.length > 0" class="results">
                        <li *ngFor="let item of fileArray; let i = index">
                            <i class="flaticon2-file"></i>
                            <a href="{{item.medicalFile.filesURL}}" target="_blank">
                                <strong>{{item.medicalFile.filesType}}</strong>
                            </a>
                             <hr>
                        </li> 
                    </ul>

                    <h4>Pronóstico</h4>
                    <p>{{dataDetail.consultationPrognosis}}</p>

                    <h4>Tratamiento</h4>
                    <p>{{dataDetail.consultationTreatment}}</p>
                    
                </kt-portlet-body>
            </kt-portlet>
            
            <kt-portlet class="historyContainer" *ngFor="let item of consultationArray">
                <kt-portlet-body class="history"> 
                        <mat-accordion>
                                <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
                                  <mat-expansion-panel-header>
                                    <a *ngIf="item.medicalConsultation">{{item.medicalConsultation.date}} - {{item.medicalConsultation.consultationDetail.medicalCenterName}}</a>
                                  </mat-expansion-panel-header>
                                  
                                        <p><strong>Consulta #{{item.medicalConsultation.medicalConsultationID}}</strong></p>
                                        <p>Doctor: {{item.medicalConsultation.consultationDetail.doctorMedicapD}} - {{item.medicalConsultation.consultationDetail.doctorName}}</p>
                                        <p>Altura: {{item.medicalConsultation.patientHeight}} cm - Peso: {{item.medicalConsultation.patientWeight}} kg</p>
                                        <p>Presión Arterial: {{item.medicalConsultation.patientBloodPressure}}</p>
                                        <p>Signos vitales: {{item.medicalConsultation.consultationDetail.consultationVitalSigns}}</p>
                                        <p>Motivo de consulta: {{item.medicalConsultation.consultationDetail.consultationReason}}</p>
                                        <p>Resumen de interrogatorio: {{item.medicalConsultation.consultationDetail.consultationSummary}}</p>
                                        <p>Diagnósticos: {{item.medicalConsultation.consultationDetail.consultationDiagnosis}}</p>
                                        <p>Resultados de estúdios: {{item.medicalConsultation.consultationDetail.consultationResults}}</p>
                                        <p>Pronóstico: {{item.medicalConsultation.consultationDetail.consultationPrognosis}}</p>
                                        <p>Tratamiento: {{item.medicalConsultation.consultationDetail.consultationTreatment}}</p>

                                        <div *ngIf="item.medicalConsultation.consultationSpecialistDetail">
                                            <hr>
                                            <p><strong>Consulta de especialidad</strong></p>
                                            <p>Doctor: {{item.medicalConsultation.consultationSpecialistDetail.doctorName}}</p>

                                            <p>Signos vitales: {{item.medicalConsultation.consultationSpecialistDetail.consultationVitalSigns}}</p>
                                            <p>Motivo de consulta: {{item.medicalConsultation.consultationSpecialistDetail.consultationReason}}</p>
                                            <p>Resumen de interrogatorio: {{item.medicalConsultation.consultationSpecialistDetail.consultationSummary}}</p>
                                            <p>Diagnósticos: {{item.medicalConsultation.consultationSpecialistDetail.consultationDiagnosis}}</p>
                                            <p>Resultados de estúdios: {{item.medicalConsultation.consultationSpecialistDetail.consultationResults}}</p>
                                            <p>Pronóstico: {{item.medicalConsultation.consultationSpecialistDetail.consultationPrognosis}}</p>
                                            <p>Tratamiento: {{item.medicalConsultation.consultationSpecialistDetail.consultationTreatment}}</p>
                                        </div>
                                    
                                </mat-expansion-panel>
                              </mat-accordion>    
                </kt-portlet-body>
            </kt-portlet>
            
            <br>
        </div>
</div>



