<!-- begin:: Brand -->
<div class="kt-header__brand kt-grid__item" id="kt_header_brand" [ngClass]="htmlClassService.getClasses('brand', true)">
	<div class="kt-header__brand-logo">
		<a href="javascript:;" [routerLink]="['/']">
			<img alt="logo" [attr.src]="headerLogo" />
		</a>
	</div>
</div>
<!-- end:: Brand -->
