<div class="container text-center">

	<ngb-carousel *ngIf="images">
		<ng-template ngbSlide *ngFor="let image of images">
			<img [src]="image" onError="this.src='./assets/media/img/img_placeholder.jpg'" style="width: 100%">
			<div class="carousel-caption img-responsive">
			</div>
		</ng-template>
	</ngb-carousel>

	<ng-container *ngIf="!images">
		<img [src]="'./assets/media/img/img_placeholder.jpg'" style="width: 100%">
	</ng-container>
</div>
