	
<div>
	<form class="user-form" (keyup.enter)="changePassword()" [formGroup]="userPassForm">
		<div class="row">
			<div class="col-sm-12 col-md-4 col-xl-4">
				<div class="form-group">
					<mat-form-field class="example-full-width" >
						<mat-label>Contraseña actual</mat-label>
						<input matInput type="password" formControlName="old">
						<mat-error *ngIf="isControlHasError('old','required')">
							<strong>El campo es requerido</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 col-xl-4">
				<div class="form-group">
					<mat-form-field class="example-full-width" >
						<mat-label>Contraseña actual</mat-label>
						<input matInput type="password" formControlName="new">
						<mat-error *ngIf="isControlHasError('new','required')">
							<strong>El campo es requerido</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('new','minlength')">
							<strong>La contraseña debe tener por lo menos 8 caracteres. </strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 col-xl-4">
				<div class="form-group">
					<mat-form-field class="example-full-width" >
						<mat-label>Contraseña actual</mat-label>
						<input matInput type="password" formControlName="newCheck">
						<mat-error *ngIf="isControlHasError('newCheck','required')">
							<strong>El campo es requerido</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('newCheck','minlength')">
							<strong>La contraseña debe tener por lo menos 8 caracteres.</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<br><br>
		</div>


		<div class="col-12 row">
			<div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
				<button class="btn btnsuccess" color="primary" type="button" (click)="changePassword()">{{ 'PROFILE.BUTTONS.SAVE' | translate }}</button>		
			</div>
		</div>

	</form>
</div>


	<!--begin::Form-->
	<!-- <div>
		<form #fc="ngForm" (submit)="changePassword(fc)" class="kt-form kt-form--group-seperator-dashed">
			<div class="kt-form__section kt-form__section--first">
				<div class="form-group kt-form__group row">
					<div class="col-lg-4 kt-margin-bottom-20-mobile">

						<mat-form-field class="mat-form-field-fluid">
							<input matInput name="oldPassword" [placeholder]="'PROFILE.CHANGE_PASSWORD.INPUTS.PASSWORD.PLACEHOLDER' | translate" required minlength="4" maxlength="32" type="password" #oldPassword="ngModel" ngModel [ngModelOptions]="{updateOn: 'blur'}">
							<mat-hint *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched || fc.submitted)" class="text-danger">
								<span *ngIf="oldPassword.errors.required">
									{{ 'PROFILE.CHANGE_PASSWORD.INPUTS.PASSWORD.EMPTY_FIELD' | translate }}
								</span>
								<span *ngIf="oldPassword.errors.minlength">
									{{ 'PROFILE.CHANGE_PASSWORD.INPUTS.PASSWORD.MIN_LENGTH' | translate }}
								</span>
							</mat-hint>
						</mat-form-field>

					</div>
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput name="newPassword" [placeholder]="'PROFILE.CHANGE_PASSWORD.INPUTS.NEW_PASSWORD.PLACEHOLDER' | translate" required minlength="8" maxlength="32" type="password" #newPassword="ngModel" ngModel [ngModelOptions]="{updateOn: 'blur'}">
							<mat-hint *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched || fc.submitted)" class="text-danger">
								<span *ngIf="newPassword.errors.required">
									{{ 'PROFILE.CHANGE_PASSWORD.INPUTS.NEW_PASSWORD.EMPTY_FIELD' | translate }}
								</span>
								<span *ngIf="newPassword.errors.minlength">
									{{ 'PROFILE.CHANGE_PASSWORD.INPUTS.NEW_PASSWORD.MIN_LENGTH' | translate }}
								</span>
							</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput name="newPasswordCheck" [placeholder]="'PROFILE.CHANGE_PASSWORD.INPUTS.NEW_PASSWORD_CHECK.PLACEHOLDER' | translate" required minlength="8" maxlength="32" type="password" #newPasswordCheck="ngModel" ngModel [ngModelOptions]="{updateOn: 'blur'}">
							<mat-hint *ngIf="newPasswordCheck.invalid && (newPasswordCheck.dirty || newPasswordCheck.touched || fc.submitted)" class="text-danger">
								<span *ngIf="newPasswordCheck.errors.required">
									{{ 'PROFILE.CHANGE_PASSWORD.INPUTS.NEW_PASSWORD_CHECK.EMPTY_FIELD' | translate }}
								</span>
								<span *ngIf="newPasswordCheck.errors.minlength">
									{{ 'PROFILE.CHANGE_PASSWORD.INPUTS.NEW_PASSWORD_CHECK.MIN_LENGTH' | translate }}
								</span>
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
				<button mat-raised-button color="primary" type="submit">{{ 'PROFILE.BUTTONS.SAVE' | translate }}</button>
			</div>
		</form>
	</div> -->
	<!--end::Form-->
