<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'USERS.ADD.TITLE' | translate"
				[class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<br><br>

				<form class="user-form" (keyup.enter)="addUser()" [formGroup]="userForm">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-xl-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<mat-label>Nombres</mat-label>
									<input matInput type="text" formControlName="name">
									<mat-error *ngIf="isControlHasError('name','required')">
										<strong>El campo es requerido</strong>
									</mat-error>
									<mat-error *ngIf="isControlHasError('name','minlength')">
										<strong>El nombre del usuario es muy corto</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>

						<div class="col-sm-12 col-md-6 col-xl-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<mat-label>Apellidos</mat-label>
									<input matInput type="text" formControlName="lname">
									<mat-error *ngIf="isControlHasError('name','required')">
										<strong>El campo es requerido</strong>
									</mat-error>
									<mat-error *ngIf="isControlHasError('name','minlength')">
										<strong>El apellido del usuario es muy corto</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-xl-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<mat-label>Correo electrónico</mat-label>
									<input matInput type="text" formControlName="email">
									<mat-error *ngIf="isControlHasError('email','required')">
										<strong>El campo es requerido</strong>
									</mat-error>
									<mat-error *ngIf="isControlHasError('email','email')">
										<strong>El correo electrónico no es válido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="col-12 row">
						<div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
							<a href="" class="btn btnback" [routerLink]="[ '/users']">Regresar</a>
							&nbsp;&nbsp;
							<button class="btn btnsuccess" color="primary" type="button" (click)="addUser()">Añadir</button>
						</div>
					</div>

				</form>

				<!-- <form class="user-form" #f="ngForm" (ngSubmit)="addUser(f)">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-xl-6">
							<p>
								<mat-form-field class="user-full-width">
									<input matInput name="userName"
										[placeholder]="'USERS.ADD.INPUTS.NAME.PLACEHOLDER' | translate" required
										minlength="3" maxlength="60" type="text" #userName="ngModel" ngModel
										[ngModelOptions]="{updateOn: 'blur'}">
									<mat-hint
										*ngIf="userName.invalid && (userName.dirty || userName.touched || f.submitted)"
										class="text-danger">
										<span *ngIf="userName.errors.required">
											{{ 'USERS.ADD.INPUTS.NAME.ERRORS.NOT_EMPTY' | translate }}
										</span>
										<span *ngIf="userName.errors.minlength">
											{{ 'USERS.ADD.INPUTS.NAME.ERRORS.MIN_LENGTH' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-sm-12 col-md-6 col-xl-6">
							<p>
								<mat-form-field class="user-full-width">
									<input matInput name="userLastName"
										[placeholder]="'USERS.ADD.INPUTS.LAST_NAME.PLACEHOLDER' | translate" required
										minlength="3" maxlength="60" type="text" #userLastName="ngModel" ngModel
										[ngModelOptions]="{updateOn: 'blur'}">
									<mat-hint
										*ngIf="userLastName.invalid && (userLastName.dirty || userLastName.touched || f.submitted)"
										class="text-danger">
										<span *ngIf="userLastName.errors.required">
											{{ 'USERS.ADD.INPUTS.LAST_NAME.ERRORS.NOT_EMPTY' | translate }}
										</span>
										<span *ngIf="userLastName.errors.minlength">
											{{ 'USERS.ADD.INPUTS.LAST_NAME.ERRORS.MIN_LENGTH' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-sm-12 col-md-6 col-xl-6">
							<p>
								<mat-form-field class="user-full-width">
									<input matInput name="userEmail" 
										[placeholder]="'USERS.ADD.INPUTS.EMAIL.PLACEHOLDER' | translate" required
										minlength="3" maxlength="100" type="email" #userEmail="ngModel" ngModel
										[ngModelOptions]="{updateOn: 'blur'}"
										pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-]+$">
									<mat-hint
										*ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched || f.submitted)"
										class="text-danger">
										<span *ngIf="userEmail.errors.required">
											{{ 'USERS.ADD.INPUTS.EMAIL.ERRORS.NOT_EMPTY' | translate }}
										</span>
										<span *ngIf="userEmail.errors.minlength">
											{{ 'USERS.ADD.INPUTS.EMAIL.ERRORS.MIN_LENGTH' | translate }}
										</span>
										<span *ngIf="userEmail.errors.pattern">
											{{ 'USERS.ADD.INPUTS.EMAIL.ERRORS.EMAIL_FORMAT' | translate }}t
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-sm-12 col-md-6 col-xl-6">
							<p>
								<mat-form-field class="user-full-width">
									<mat-select name="userType" required #userType="ngModel" ngModel
										[ngModelOptions]="{updateOn: 'blur'}"
										[placeholder]="'USERS.ADD.INPUTS.TYPE.PLACEHOLDER' | translate">
										<mat-option value="1">{{ 'CATALOGS.USER_TYPE.ADMINISTRATOR' | translate }}
										</mat-option>
									</mat-select>
									<mat-hint
										*ngIf="userType.invalid && (userType.dirty || userType.touched || f.submitted)"
										class="text-danger">
										<span *ngIf="userType.errors.required">
											{{ 'USERS.ADD.INPUTS.TYPE.ERRORS.NOT_EMPTY' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-12 row">
							<div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
								<button class="btn btnback" type="reset" [routerLink]="['/users']"
									routerLinkActive="router-link-active">{{ 'USERS.ADD.ACTIONS.RETURN' | translate }}</button>
								&nbsp;&nbsp;
								<button class="btn btnsuccess" color="primary"
									type="submit">{{ 'USERS.ADD.ACTIONS.ADD' | translate }}</button>
							</div>
						</div>
					</div>
				</form> -->


			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
