
<div class="row">
        <div class="col-xl-12">
            <kt-portlet [class]="'kt-portlet--height-fluid'">
                <kt-portlet-body [class]="'kt-portlet__body--fit'">
                    <div class="kt-section">
                        <div class="kt-section__content">
                            <kt-portlet-header [title]="'Gestionar centros médicos'" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                                <ng-container ktPortletTools>
                                    <div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline">
                                        <button class="btn btnsuccess addbutton" color="primary" type="button" [routerLink]="['add']" > <i class="kt-nav__link-icon flaticon2-add-circular-button"></i>Añadir centro médico</button> 
                                    </div>
                                </ng-container>
                            </kt-portlet-header>
                               
                            <div class="table-header" *ngIf="(medicalCenters$ | async) as users; else loading">
                                <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'USERS.INDEX.TABLE.FILTER' | translate }}">
                                </mat-form-field>
                            </div>
                            <div class="table-container">
                                <table mat-table [dataSource]="dataSource" matSort #users>
                                    <ng-container matColumnDef="medicalCentersID">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            {{ 'USERS.INDEX.TABLE.ID' | translate }}
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.medicalCenterID }} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="medicalCentersName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            {{ 'USERS.INDEX.TABLE.NAME' | translate }}
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                                {{ row.medicalCenterName }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="medicalCentersAddress">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Dirección
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                    {{ row.medicalCenterAddress }}
                                            </mat-cell>
                                        </ng-container>
                                    <ng-container matColumnDef="medicalCentersPhone">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            {{ 'Teléfono' }}
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.medicalCenterPhone }} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="userType">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            {{ 'USERS.INDEX.TABLE.TYPE' | translate }}
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span *ngIf="row.userType == 1">
                                                {{ 'CATALOGS.USER_TYPE.ADMINISTRATOR' | translate }}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="medicalCentersStatus">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Estatus
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span *ngIf="row.medicalCenterStatus == 0">
                                                    {{ 'CATALOGS.STATUS.ENABLED' | translate }}</span>
                                            <span *ngIf="row.medicalCenterStatus == 1">
                                                    {{ 'CATALOGS.STATUS.DISABLED' | translate }}</span>
                                        </mat-cell>
                                        
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Acciones
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <button (click)="disableMedicalCenter(row.medicalCenterID);"
                                                title="{{ 'USERS.INDEX.TABLE.HELP_DISABLE' | translate }}"
                                                *ngIf="row.medicalCenterStatus == 0" mat-icon-button>
                                                <mat-icon aria-label="User enable">gps_off</mat-icon>
                                            </button>
                                            <button (click)="enableMedicalCenter(row.medicalCenterID);"
                                                title="{{ 'USERS.INDEX.TABLE.HELP_ENABLE' | translate }}"
                                                *ngIf="row.medicalCenterStatus == 1" mat-icon-button>
                                                <mat-icon aria-label="User disable">gps_not_fixed
                                                </mat-icon>
                                            </button>
                                            <button [routerLink]="['edit',row.medicalCenterID]" mat-icon-button>
                                                <mat-icon aria-label="User edit">edit</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="deleteMedicalCenter(row.medicalCenterID);">
                                                <mat-icon aria-label="User delete">delete</mat-icon>
                                            </button>
                                        </mat-cell>

                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>
                                </table>
                                <mat-paginator #usersPage [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
                            </div>
                            
                        </div>
                    </div>
                </kt-portlet-body>
            </kt-portlet>
        </div>
    </div>
    
    <ng-template #loading>
        <p style="padding-left: 5%; padding-right: 5%;">
            Cargando usuarios...
        </p>
    </ng-template>
    