.table-container {
	display: flex;
	flex-direction: column;
	min-width: 300px;
}

.table-header {
	min-height: 64px;
	padding: 8px 24px 0;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.mat-table {
	overflow: auto;
	
	max-height: 500px;
}

.addbtn{
	color:black;
}
.addbtn span{
	padding: 10px 0px 0px 0px;
}

.addbutton{
	margin-top: 10px;
	color: white;
}

kt-portlet-header{
	//margin-left: 10px; //margen 10px
}

mat-form-field{
	// margin-left: 10px;		//margen 10px
	// margin-right: 10px;  	//margen 10px
}

mat-header-cell{
	//color: #212529;
	font-size: 13px;
	//margin-left: 10px;		//margen 10px
	
	//border: none;
}
mat-cell {
	//font-size: 20px;
	color: #212529;
	word-break: break-all;
	margin-left: 5px;			//margen 10px - ponerle 10
	margin-right: 5px;
;
	//border: none;
	border-bottom-style: none !important;
}
