<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'PLANS.ADD.TITLE' | translate" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<br><br>
				<form class="new-form" #f="ngForm" (ngSubmit)="addPlan(f)">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-xl-6">
							<p>
								<mat-form-field class="new-full-width">
									<input matInput name="planName" [placeholder]="'PLANS.ADD.INPUTS.NAME.PLACEHOLDER' | translate" required minlength="3" maxlength="64" type="text" #planName="ngModel" ngModel [ngModelOptions]="{updateOn: 'blur'}">
									<mat-hint *ngIf="planName.invalid && (planName.dirty || planName.touched || f.submitted)" class="text-danger">
										<span *ngIf="planName.errors.required">
											{{ 'PLANS.ADD.INPUTS.NAME.ERRORS.NOT_EMPTY' | translate }}
										</span>
										<span *ngIf="planName.errors.minlength">
											{{ 'PLANS.ADD.INPUTS.NAME.ERRORS.MIN_LENGTH' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-sm-12 col-md-6 col-xl-6">
							<p>
								<mat-form-field class="new-full-width">
									<mat-select name="planCurrency" required #planCurrency="ngModel" ngModel [ngModelOptions]="{updateOn: 'blur'}" [placeholder]="'PLANS.ADD.INPUTS.CURRENCY.PLACEHOLDER' | translate">
										<mat-option value="MXN">MXN
										</mat-option>
										<mat-option value="USD">USD
										</mat-option>
									</mat-select>
									<mat-hint *ngIf="planCurrency.invalid && (planCurrency.dirty || planCurrency.touched || f.submitted)" class="text-danger">
										<span *ngIf="planCurrency.errors.required">
											{{ 'PLANS.ADD.INPUTS.CURRENCY.ERRORS.NOT_EMPTY' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-sm-12 col-md-6 col-xl-6">
							<p>
								<mat-form-field class="new-full-width">
									<input matInput name="planAmount" [placeholder]="'PLANS.ADD.INPUTS.AMOUNT.PLACEHOLDER' | translate" required minlength="1" maxlength="12" type="text" #planAmount="ngModel" ngModel [ngModelOptions]="{updateOn: 'blur'}" pattern="^(\d?)*\.?\d*$" digitOnly inputmode="numeric">
									<mat-hint *ngIf="planAmount.invalid && (planAmount.dirty || planAmount.touched || f.submitted)" class="text-danger">
										<span *ngIf="planAmount.errors.required">
											{{ 'PLANS.ADD.INPUTS.AMOUNT.ERRORS.NOT_EMPTY' | translate }}
										</span>
										<span *ngIf="planAmount.errors.minlength">
											{{ 'PLANS.ADD.INPUTS.AMOUNT.ERRORS.MIN_LENGTH' | translate }}
										</span>
										<span *ngIf="planAmount.errors.pattern">
											{{ 'PLANS.ADD.INPUTS.AMOUNT.ERRORS.NOT_NUMBER' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-sm-12 col-md-6 col-xl-6">
							<p>
								<mat-form-field class="new-full-width">
									<mat-select name="planInterval" required #planInterval="ngModel" ngModel [ngModelOptions]="{updateOn: 'blur'}" [placeholder]="'PLANS.ADD.INPUTS.FRECUENCY.PLACEHOLDER' | translate">
										<mat-option value="1">1 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIOD' | translate }}
										</mat-option>
										<mat-option value="2">2 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIODS' | translate }}
										</mat-option>
										<mat-option value="3">3 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIODS' | translate }}
										</mat-option>
										<mat-option value="4">4 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIODS' | translate }}
										</mat-option>
										<mat-option value="5">5 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIODS' | translate }}
										</mat-option>
										<mat-option value="6">6 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIODS' | translate }}
										</mat-option>
										<mat-option value="7">7 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIODS' | translate }}
										</mat-option>
										<mat-option value="8">8 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIODS' | translate }}
										</mat-option>
										<mat-option value="9">9 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIODS' | translate }}
										</mat-option>
										<mat-option value="10">10 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIODS' | translate }}
										</mat-option>
										<mat-option value="11">11 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIODS' | translate }}
										</mat-option>
										<mat-option value="12">12 {{ 'PLANS.ADD.INPUTS.FRECUENCY.PERIODS' | translate }}
										</mat-option>
									</mat-select>
									<mat-hint *ngIf="planInterval.invalid && (planInterval.dirty || planInterval.touched || f.submitted)" class="text-danger">
										<span *ngIf="planInterval.errors.required">
											{{ 'PLANS.ADD.INPUTS.FRECUENCY.ERRORS.NOT_EMPTY' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-12 row">
							<div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
								<button mat-raised-button type="reset" [routerLink]="['/plans']" routerLinkActive="router-link-active">{{ 'PLANS.ADD.ACTIONS.RETURN' | translate }}</button>
								&nbsp;&nbsp;
								<button mat-raised-button color="primary" [disabled]="f.invalid" type="submit">{{ 'PLANS.ADD.ACTIONS.ADD' | translate }}</button>
							</div>
						</div>
					</div>
				</form>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
