<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="kt-section">
					<div class="kt-section__content">
						<ngb-tabset activeId="tab-user-list" (tabChange)="beforeChange($event)">
							<ngb-tab id="tab-user-list" [title]="'NEWS_APPROVED.INDEX.TITLE' | translate">
								<ng-template ngbTabContent>
									<kt-portlet [class]="'kt-portlet--height-fluid'">
										<kt-portlet-header [title]="'NEWS_APPROVED.INDEX.TITLE' | translate"
											[class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
											<ng-container ktPortletTools>
												<div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline">
													<button ngbDropdownToggle type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md">
														<i class="flaticon-more-v2"></i>
													</button>
													<div ngbDropdownMenu class="dropdown-menu">
														<ul class="kt-nav">
															<li class="kt-nav__item">
																<a [routerLink]="['add']" class="kt-nav__link">
																	<i class="kt-nav__link-icon flaticon2-add-circular-button"></i>
																	<span
																		class="kt-nav__link-text">{{ 'NEWS_APPROVED.INDEX.ACTIONS.ADD' | translate }}</span>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</ng-container>
										</kt-portlet-header>
										<kt-portlet-body [class]="'kt-portlet__body--fit'">
											<div class="table-header" *ngIf="(news$ | async) as news">
												<mat-form-field>
													<input matInput (keyup)="applyFilter($event.target.value)"
														placeholder="{{ 'NEWS_APPROVED.INDEX.TABLE.FILTER' | translate }}" #filterNew>
												</mat-form-field>
											</div>
											<div class="table-container mat-elevation-z8">
												<mat-table [dataSource]="dataSource" #newsSort matSort>
													<ng-container matColumnDef="newID">
														<mat-header-cell *matHeaderCellDef mat-sort-header>
															{{ 'NEWS_APPROVED.INDEX.TABLE.ID' | translate }}
														</mat-header-cell>
														<mat-cell *matCellDef="let row"> {{ row.newID }} </mat-cell>
													</ng-container>
													<ng-container matColumnDef="newTitle">
														<mat-header-cell *matHeaderCellDef mat-sort-header>
															{{ 'NEWS_APPROVED.INDEX.TABLE.TITLE' | translate }}
														</mat-header-cell>
														<mat-cell *matCellDef="let row">
															{{ row.newTitle }} </mat-cell>
													</ng-container>
													<ng-container matColumnDef="newBody">
														<mat-header-cell *matHeaderCellDef mat-sort-header>
															{{ 'NEWS_APPROVED.INDEX.TABLE.RESUME' | translate }}
														</mat-header-cell>
														<mat-cell *matCellDef="let row">
															{{ row.newBody }} </mat-cell>
													</ng-container>
													<ng-container matColumnDef="newDate">
														<mat-header-cell *matHeaderCellDef mat-sort-header>
															{{ 'NEWS_APPROVED.INDEX.TABLE.DATE' | translate }}
														</mat-header-cell>
														<mat-cell *matCellDef="let row">
															{{ row.newDate | date:'dd/MM/yyyy' }} </mat-cell>
													</ng-container>
													<ng-container matColumnDef="actions">
														<mat-header-cell *matHeaderCellDef>
															{{ 'NEWS_APPROVED.INDEX.TABLE.ACTIONS' | translate }}
														</mat-header-cell>
														<mat-cell *matCellDef="let row">
															<button [routerLink]="['detail',row.newID]" mat-icon-button
																title="{{ 'NEWS.INDEX.TABLE.HELP_DETAIL' | translate }}">
																<mat-icon aria-label="News detail">remove_red_eye
																</mat-icon>
															</button>
															<button (click)="revokeNew(row.newID);" mat-icon-button
																title="{{ 'NEWS.INDEX.TABLE.HELP_REVOKE' | translate }}">
																<mat-icon aria-label="Revoke news">close
																</mat-icon>
															</button>
														</mat-cell>
													</ng-container>
													<mat-header-row *matHeaderRowDef="displayedColumns">
													</mat-header-row>
													<mat-row *matRowDef="let row; columns: displayedColumns;">
													</mat-row>
												</mat-table>
												<mat-paginator #newsPage [pageSizeOptions]="[5, 10, 25, 100]">
												</mat-paginator>
											</div>
										</kt-portlet-body>
									</kt-portlet>
								</ng-template>
							</ngb-tab>
							<ngb-tab id="tab-user-request" [title]="'NEWS.INDEX.TITLE' | translate">
								<ng-template ngbTabContent>
									<kt-portlet [class]="'kt-portlet--height-fluid'">
										<kt-portlet-header [title]="'NEWS.INDEX.TITLE' | translate"
											[class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
										</kt-portlet-header>
										<kt-portlet-body [class]="'kt-portlet__body--fit'">
											<div class="table-header" *ngIf="(newsPending$ | async) as newsPending">
												<mat-form-field>
													<input matInput #filterNewSelect (keyup)="applyFilterRequest($event.target.value)"
														placeholder="{{ 'NEWS.INDEX.TABLE.FILTER' | translate }}">
												</mat-form-field>
											</div>
											<div class="table-container mat-elevation-z8">
												<mat-table [dataSource]="dataSourceRequest" #newsAllSort matSort>
													<ng-container matColumnDef="newID">
														<mat-header-cell *matHeaderCellDef mat-sort-header>
															{{ 'NEWS.INDEX.TABLE.ID' | translate }}
														</mat-header-cell>
														<mat-cell *matCellDef="let row"> {{ row.newID }} </mat-cell>
													</ng-container>
													<ng-container matColumnDef="newTitle">
														<mat-header-cell *matHeaderCellDef mat-sort-header>
															{{ 'NEWS.INDEX.TABLE.TITLE' | translate }}
														</mat-header-cell>
														<mat-cell style="word-break: normal;margin-left: 10px;margin-right: 10px;"
															*matCellDef="let row">
															{{ row.newTitle }} </mat-cell>
													</ng-container>
													<ng-container matColumnDef="newBody">
														<mat-header-cell *matHeaderCellDef mat-sort-header>
															{{ 'NEWS.INDEX.TABLE.RESUME' | translate }}
														</mat-header-cell>
														<mat-cell style="word-break: normal;margin-left: 10px;margin-right: 10px;"
															*matCellDef="let row">
															{{ row.newBody }} </mat-cell>
													</ng-container>
													<ng-container matColumnDef="newDate">
														<mat-header-cell *matHeaderCellDef mat-sort-header>
															{{ 'NEWS.INDEX.TABLE.DATE' | translate }}
														</mat-header-cell>
														<mat-cell *matCellDef="let row">
															{{ row.newDate | date:'dd/MM/yyyy' }} </mat-cell>
													</ng-container>
													<ng-container matColumnDef="actions">
														<mat-header-cell *matHeaderCellDef>
															{{ 'NEWS.INDEX.TABLE.ACTIONS' | translate }}
														</mat-header-cell>
														<mat-cell *matCellDef="let row">
															<button [routerLink]="['detail',row.newID]" mat-icon-button
																title="{{ 'NEWS.INDEX.TABLE.HELP_DETAIL' | translate }}">
																<mat-icon aria-label="News detail">remove_red_eye
																</mat-icon>
															</button>
															<button (click)="approveNew(row.newID);" mat-icon-button
																title="{{ 'NEWS.INDEX.TABLE.HELP_APPROVE' | translate }}">
																<mat-icon aria-label="Approve news">done_outline
																</mat-icon>
															</button>
															<button (click)="deleteNew(row.newID);" mat-icon-button
																title="{{ 'NEWS.INDEX.TABLE.HELP_DELETE' | translate }}">
																<mat-icon aria-label="Delete news">delete</mat-icon>
															</button>
														</mat-cell>
													</ng-container>
													<mat-header-row *matHeaderRowDef="displayedColumnsRequest">
													</mat-header-row>
													<mat-row *matRowDef="let row; columns: displayedColumnsRequest;">
													</mat-row>
												</mat-table>
												<mat-paginator #newsAllPage [pageSizeOptions]="[5, 10, 25, 100]">
												</mat-paginator>
											</div>
										</kt-portlet-body>
									</kt-portlet>
								</ng-template>
							</ngb-tab>
						</ngb-tabset>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>