<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'NEWS.DETAIL.TITLE' | translate" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<mat-card class="new-detail-card" *ngIf="(newDetail$ | async) as newDetail; else loading">
					<mat-card-header>
						<mat-card-title>{{ newDetail.newTitle }}</mat-card-title>
						<mat-card-subtitle>{{ newDetail.newBusiness }}</mat-card-subtitle>
					</mat-card-header>
					<slideshow mat-card-image [height]="'50vh'" [backgroundPosition]="'center center'" [backgroundSize]="'contain'" [autoPlay]="true" [showArrows]="true" [imageUrls]="newDetail.newImage" [lazyLoad]="newDetail.newImage?.length > 1"
						[autoPlayWaitForLazyLoad]="true">
					</slideshow>
					<!--<img  [src]="newDetail.newImage"
						onerror="this.src='https://www.generationsforpeace.org/wp-content/uploads/2018/03/empty.jpg'"
						[alt]="newDetail.newTitle">-->
					<mat-card-content>
						<p class="body-new">
							{{ newDetail.newBody }}
						</p>
					</mat-card-content>
					<mat-card-actions>
						<button *ngIf="newDetail.newStatus === 0" (click)="publishNew()" mat-button>{{ 'NEWS.DETAIL.ACTIONS.PUBLISH' | translate }}</button>
						<button *ngIf="newDetail.newStatus === 1" (click)="removeNew()" mat-button>{{ 'NEWS.DETAIL.ACTIONS.REMOVE' | translate }}</button>
						<button [routerLink]="['/news']" mat-button>{{ 'NEWS.DETAIL.ACTIONS.RETURN' | translate }}</button>
					</mat-card-actions>
				</mat-card>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
<ng-template #loading>
	<mat-card class="new-detail-card">
		<mat-card-header>
			<mat-card-title></mat-card-title>
			<mat-card-subtitle></mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p class="body-new">
				{{ 'NEWS.DETAIL.LOADING' | translate }}
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button [routerLink]="['/news']" mat-button>{{ 'NEWS.DETAIL.ACTIONS.RETURN' | translate }}</button>
		</mat-card-actions>
	</mat-card>
</ng-template>
