.table-container {
	display: flex;
	flex-direction: column;
	min-width: 300px;
}

.table-header {
	min-height: 64px;
	padding: 8px 24px 0;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.mat-table {
	overflow: auto;
	max-height: 500px;
}

.addbutton{
	margin-top: 10px;
}
mat-header-cell{
	//color: #212529;
	font-size: 13px;
	//margin-left: 10px;		//margen 10px
	
	//border: none;
}

mat-cell {
	word-break: break-all;
	margin-left: 5px;
	margin-right: 5px;
}
