<div class="row">
        <div class="col-xl-12">
            <kt-portlet [class]="'kt-portlet--height-fluid'">
                <kt-portlet-header [title]="'Agrega nuevo centro médico'"
                    [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                </kt-portlet-header>
                <kt-portlet-body [class]="'kt-portlet__body--fit'">
                    <br><br>
                    
                    <form class="user-form" (keyup.enter)="addMedicalCenter()" [formGroup]="medCenterForm">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <div class="form-group">
                                        <mat-form-field class="example-full-width">
                                           <mat-label>Nombre</mat-label>
                                           <input matInput type="text" formControlName="name">
                                           <mat-error *ngIf="isControlHasError('name','required')">
                                               <strong>El campo es requerido</strong>
                                           </mat-error> 
                                           <mat-error *ngIf="isControlHasError('name','minlength')">
                                               <strong>El nombre del centro médico es muy corto</strong>                                               
                                            </mat-error> 
                                        </mat-form-field>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Dirección</mat-label>
                                            <input matInput type="text" formControlName="address">   
                                        </mat-form-field>
                                    </div>
                                </div>

                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Teléfono</mat-label>
                                        <input matInput type="number" formControlName="phone">   
                                    </mat-form-field>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12 row">
                                <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                                    <!-- <button class="btn btn-danger" [routerLink]="[ '/specialties']" >Cancelar</button> -->
                                    <a href="" class="btn btnback" [routerLink]="[ '/medical-centers']">Regresar</a>
                                    &nbsp;&nbsp;
                                    <button class="btn btnsuccess" color="primary" type="button" (click)="addMedicalCenter()">Añadir</button>
                                </div>
                            </div>


                    </form>






                </kt-portlet-body>
            </kt-portlet>
        </div>
    </div>
    

    <!-- <form class="user-form" #f="ngForm" (ngSubmit)="addMedicalCenter(f)">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <p>
                        <mat-form-field class="user-full-width">
                            <input matInput name="medicalCenterName"
                                [placeholder]="'Nombre'" required
                                minlength="3" maxlength="60" type="text" #medicalCenterName="ngModel" ngModel
                                [ngModelOptions]="{updateOn: 'blur'}">
                            <mat-hint
                                *ngIf="medicalCenterName.invalid && (medicalCenterName.dirty || medicalCenterName.touched || f.submitted)"
                                class="text-danger">
                                <span *ngIf="medicalCenterName.errors.required">
                                    {{ 'USERS.ADD.INPUTS.NAME.ERRORS.NOT_EMPTY' | translate }}
                                </span>
                                <span *ngIf="medicalCenterName.errors.minlength">
                                    {{ 'USERS.ADD.INPUTS.NAME.ERRORS.MIN_LENGTH' | translate }}
                                </span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div>

                <div class="col-sm-12 col-md-6 col-xl-6">
                        <p>
                            <mat-form-field class="user-full-width">
                                <input matInput name="medicalCenterPhone"
                                    [placeholder]="'Teléfono'" required
                                    minlength="3" maxlength="60" type="number" #medicalCenterPhone="ngModel" ngModel
                                    [ngModelOptions]="{updateOn: 'blur'}">
                                <mat-hint
                                    *ngIf="medicalCenterPhone.invalid && (medicalCenterPhone.dirty || medicalCenterPhone.touched || f.submitted)"
                                    class="text-danger">
                                    <span *ngIf="medicalCenterPhone.errors.required">
                                        {{ 'USERS.ADD.INPUTS.NAME.ERRORS.NOT_EMPTY' | translate }}
                                    </span>
                                    <span *ngIf="medicalCenterPhone.errors.minlength">
                                        {{ 'USERS.ADD.INPUTS.NAME.ERRORS.MIN_LENGTH' | translate }}
                                    </span>
                                </mat-hint>
                            </mat-form-field>
                        </p>
                    </div>
              
                <div class="col-12 row">
                    <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                        <button mat-raised-button type="reset" [routerLink]="['/medical-centers']"
                            routerLinkActive="router-link-active">Volver a la lista de centros médicos</button>
                        &nbsp;&nbsp;
                        <button mat-raised-button color="primary"
                            type="submit">Añadir centro médico</button>
                    </div>
                </div>
            </div>
        </form> -->