.user-form {
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 3%;
}
.user-full-width {
	width: 100%;
}
user-container {
	display: flex;
	flex-direction: column;
}
.user-container > * {
	width: 100%;
}
input{
	color: #000000;
}