.green-snackbar{
	background: #77d2d3 !important;
	width: 1000px;
	color:white !important;
	font-size: 50px !important;
}
.snackContainer{
    min-width: 500px;
}
a{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    //width:auto;
}
button{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1%;
    //float: right;
}