<div class="snackContainer">
    <a>
        <i class="flaticon2-bell"></i>
        &nbsp;
        Nueva consulta disponible
    </a>

    <button mat-button (click)="navigate()">Ir a consultas</button>
</div>
