<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
	<!--begin: Search -->
	<!-- <kt-search-dropdown></kt-search-dropdown>-->
	<!--end: Search -->
	<!--begin: Notifications 
	<kt-notification [type]="'brand'" [skin]="'light'" [icon]="'flaticon2-bell-alarm-symbol'" [useSVG]="false"></kt-notification>
	end: Notifications -->
	<!--begin: Language bar -->
	<!-- <kt-language-selector></kt-language-selector> -->
	<!--end: Language bar -->
	<!--begin: User bar -->
	<kt-user-profile [greeting]="false" [avatar]="false" [badge]="false" [icon]="true"></kt-user-profile>
	<!--end: User bar -->
</div>
<!-- end:: Header Topbar -->
