<div class="row">
        <div class="col-xl-12">
            <kt-portlet [class]="'kt-portlet--height-fluid'">
                <kt-portlet-header [title]="'DOCTORS.ADD.TITLE' | translate"
                    [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                </kt-portlet-header>
                
                <kt-portlet-body [class]="'kt-portlet__body--fit'">
                    <br><br>

                    

                    

                    <form class="user-form" (keyup.enter)="addDoctor()" [formGroup]="doctorForm">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" >
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" formControlName="name">
                                        <mat-error *ngIf="isControlHasError('name','required')">
                                            <strong>El campo es requerido</strong>
                                        </mat-error>
                                        <mat-error *ngIf="isControlHasError('name','minlength')">
                                            <strong>El nombre del doctor es muy corto</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" >
                                        <mat-label>Apellidos</mat-label>
                                        <input matInput type="text" formControlName="lname">
                                        <mat-error *ngIf="isControlHasError('lname','required')">
                                            <strong>El campo es requerido</strong>
                                        </mat-error>
                                        <mat-error *ngIf="isControlHasError('lname','minlength')">
                                            <strong>El apellido del doctor es muy corto</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <mat-form-field class="example-full-width" >
                                            <mat-label>Correo electrónico</mat-label>
                                            <input matInput type="text" formControlName="email">
                                            <mat-error *ngIf="isControlHasError('email','required')">
                                                <strong>El campo es requerido</strong>
                                            </mat-error>
                                            <mat-error *ngIf="isControlHasError('email','email')">
                                                <strong>El correo electrónico no es válido</strong>
                                            </mat-error>
                                           
                                        </mat-form-field>
                                    </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-xl-6">
                                    <div class="form-group">
                                        
                                        <mat-form-field>
                                                <mat-select placeholder="Especialidad" formControlName="spec" multiple>
                                                  <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
                                                  <mat-option *ngFor="let spec of specialties" [value]="spec.specialtiesID">{{spec.specialtiesName}}</mat-option>
                                                  
                                                </mat-select>
                                                <mat-error *ngIf="isControlHasError('spec','required')">
                                                        <strong>El campo es requerido</strong>
                                                    </mat-error>
                                        </mat-form-field>
                                    </div>
                            </div>

                            

                           

                            







                            
                        </div>

                        <div class="col-12 row">
                            <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                                <!-- <button class="btn btn-danger" [routerLink]="[ '/specialties']" >Cancelar</button> -->
                                <a href="" class="btn btnback" [routerLink]="[ '/doctors']">Regresar</a>
                                &nbsp;&nbsp;
                                <button class="btn btnsuccess" color="primary" type="button" (click)="addDoctor()">Añadir</button>
                            </div>
                        </div>
                    </form>
                    


                </kt-portlet-body>
            </kt-portlet>
        </div>
    </div>
<!-- 
    <form class="doctor-form" #f="ngForm" (ngSubmit)="addDoctor(f)">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <p>
                        <mat-form-field class="doctor-full-width">
                            <input matInput name="doctorName"
                                [placeholder]="'DOCTORS.ADD.INPUTS.NAME.PLACEHOLDER' | translate" required
                                minlength="3" maxlength="60" type="text" #doctorName="ngModel" ngModel
                                [ngModelOptions]="{updateOn: 'blur'}">
                            <mat-hint
                                *ngIf="doctorName.invalid && (doctorName.dirty || doctorName.touched || f.submitted)"
                                class="text-danger">
                                <span *ngIf="doctorName.errors.required">
                                    {{ 'DOCTORS.ADD.INPUTS.NAME.ERRORS.NOT_EMPTY' | translate }}
                                </span>
                                <span *ngIf="doctorName.errors.minlength">
                                    {{ 'DOCTORS.ADD.INPUTS.NAME.ERRORS.MIN_LENGTH' | translate }}
                                </span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <p>
                        <mat-form-field class="doctor-full-width">
                            <input matInput name="doctorLastName"
                                [placeholder]="'DOCTORS.ADD.INPUTS.LAST_NAME.PLACEHOLDER' | translate" required
                                minlength="3" maxlength="60" type="text" #doctorLastName="ngModel" ngModel
                                [ngModelOptions]="{updateOn: 'blur'}">
                            <mat-hint
                                *ngIf="doctorLastName.invalid && (doctorLastName.dirty || doctorLastName.touched || f.submitted)"
                                class="text-danger">
                                <span *ngIf="doctorLastName.errors.required">
                                    {{ 'DOCTORS.ADD.INPUTS.LAST_NAME.ERRORS.NOT_EMPTY' | translate }}
                                </span>
                                <span *ngIf="doctorLastName.errors.minlength">
                                    {{ 'DOCTORS.ADD.INPUTS.LAST_NAME.ERRORS.MIN_LENGTH' | translate }}
                                </span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <p>
                        <mat-form-field class="doctor-full-width">
                            <input matInput name="doctorEmail"
                                [placeholder]="'Correo electrónico'" required
                                minlength="3" maxlength="100" type="email" #doctorEmail="ngModel" ngModel
                                [ngModelOptions]="{updateOn: 'blur'}"
                                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-]+$">
                            <mat-hint
                                *ngIf="doctorEmail.invalid && (doctorEmail.dirty || doctorEmail.touched || f.submitted)"
                                class="text-danger">
                                <span *ngIf="doctorEmail.errors.required">
                                        {{ 'USERS.ADD.INPUTS.EMAIL.ERRORS.NOT_EMPTY' | translate }}
                                </span>
                                <span *ngIf="doctorEmail.errors.minlength">
                                        {{ 'USERS.ADD.INPUTS.EMAIL.ERRORS.MIN_LENGTH' | translate }}
                                </span>
                                <span *ngIf="doctorEmail.errors.pattern">
                                        {{ 'USERS.ADD.INPUTS.EMAIL.ERRORS.EMAIL_FORMAT' | translate }}
                                </span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div>
               
                <div class="col-12 row">
                    <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                        <button mat-raised-button type="reset" [routerLink]="['/doctors']"
                            routerLinkActive="router-link-active">{{ 'DOCTORS.EDIT.ACTIONS.RETURN' | translate }}</button>
                        &nbsp;&nbsp;
                        <button mat-raised-button color="primary"
                            type="submit">Añadir doctor</button>
                    </div>
                </div>
            </div>
        </form>
     -->