
<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="kt-section">
					<div class="kt-section__content">
						
							<kt-portlet-header [title]="'Gestionar especialidades'"
								[class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
								<ng-container ktPortletTools>
									<div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline">
										<button class="btn btnsuccess addbutton" color="primary" type="button" [routerLink]="['add']" > <i class="kt-nav__link-icon flaticon2-add-circular-button"></i>Añadir especialidad</button>
									</div>
								</ng-container>
							</kt-portlet-header>

							
								<div class="table-header" *ngIf="(specialties$ | async) as users; else loading">
									<mat-form-field>
										<input matInput (keyup)="applyFilter($event.target.value)"
											placeholder="{{ 'USERS.INDEX.TABLE.FILTER' | translate }}">
									</mat-form-field>
								</div>
								<div class="table-container">
									<table mat-table [dataSource]="dataSource" matSort #users>
										<ng-container matColumnDef="specialtiesID">
											<mat-header-cell *matHeaderCellDef mat-sort-header>
												{{ 'USERS.INDEX.TABLE.ID' | translate }}
											</mat-header-cell>
											<mat-cell *matCellDef="let row"> {{ row.specialtiesID }} </mat-cell>
										</ng-container>
										<ng-container matColumnDef="specialtiesName">
											<mat-header-cell *matHeaderCellDef mat-sort-header>
												{{ 'USERS.INDEX.TABLE.NAME' | translate }}
											</mat-header-cell>
											<mat-cell *matCellDef="let row">
                                                    {{ row.specialtiesName }}
											</mat-cell>
										</ng-container>
										<ng-container matColumnDef="specialtyStatus1">
											<mat-header-cell *matHeaderCellDef mat-sort-header>
												{{ 'USERS.INDEX.TABLE.EMAIL' | translate }}
											</mat-header-cell>
											<mat-cell *matCellDef="let row"> {{ row.specialtiesStatus }} </mat-cell>
										</ng-container>
										<ng-container matColumnDef="userType">
											<mat-header-cell *matHeaderCellDef mat-sort-header>
												{{ 'USERS.INDEX.TABLE.TYPE' | translate }}
											</mat-header-cell>
											<mat-cell *matCellDef="let row">
												<span *ngIf="row.userType == 1">
													{{ 'CATALOGS.USER_TYPE.ADMINISTRATOR' | translate }}</span>
											</mat-cell>
										</ng-container>
										<ng-container matColumnDef="specialtiesStatus">
											<mat-header-cell *matHeaderCellDef mat-sort-header>
												{{ 'SPECIALTIES.INDEX.TABLE.STATUS' | translate }}
											</mat-header-cell>
											<mat-cell *matCellDef="let row">
												<span *ngIf="row.specialtiesStatus == 0">
                                                         Activo </span>
												<span *ngIf="row.specialtiesStatus == 1">
                                                        Desactivado</span>
											</mat-cell>
										</ng-container>
										<ng-container matColumnDef="actions">
											<mat-header-cell *matHeaderCellDef mat-sort-header>
												{{ 'USERS.INDEX.TABLE.ACTIONS' | translate }}
											</mat-header-cell>
											<mat-cell *matCellDef="let row">
												<button (click)="disableSpecialty(row.specialtiesID);"
													title="{{ 'USERS.INDEX.TABLE.HELP_DISABLE' | translate }}"
													*ngIf="row.specialtiesStatus == 0" mat-icon-button>
													<mat-icon aria-label="User enable">gps_off</mat-icon>
												</button>
												<button (click)="enableSpecialty(row.specialtiesID);"
													title="{{ 'USERS.INDEX.TABLE.HELP_ENABLE' | translate }}"
													*ngIf="row.specialtiesStatus == 1" mat-icon-button>
													<mat-icon aria-label="User disable">gps_not_fixed
													</mat-icon>
												</button>
												<button [routerLink]="['edit',row.specialtiesID]" mat-icon-button>
													<mat-icon aria-label="User edit">edit</mat-icon>
												</button>
												<button mat-icon-button (click)="deleteSpecialty(row.specialtiesID);">
													<mat-icon aria-label="User delete">delete</mat-icon>
												</button>
											</mat-cell>

										</ng-container>
										<mat-header-row *matHeaderRowDef="displayedColumns">
										</mat-header-row>
										<mat-row *matRowDef="let row; columns: displayedColumns;">
										</mat-row>
									</table>
									<mat-paginator #usersPage [pageSizeOptions]="[5, 10, 25, 100]">
									</mat-paginator>
								</div>
							
						
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

<ng-template #loading>
	<p style="padding-left: 5%; padding-right: 5%;">
		Cargando especialidades...
	</p>
</ng-template>
