<div ngbDropdown placement="bottom-right" *ngIf="user" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<div class="kt-header__topbar-user" [ngClass]="{'kt-header__topbar-icon': icon}">
			<span class="kt-header__topbar-welcome kt-hidden-mobile" *ngIf="greeting">Hi,</span>
			<span class="kt-header__topbar-username kt-hidden-mobile" *ngIf="greeting">{{ user.userName + ' ' + user.userLastName }}</span>
			<i *ngIf="icon" class="flaticon2-user-outline-symbol"></i>
			<!--<img *ngIf="avatar && user.pic" alt="Pic" [attr.src]="user.pic">-->
			<span *ngIf="badge" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">{{ user.userName + ' ' + user.userLastName |firstLetter}}</span>
		</div>
	</div>
	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
		<!--begin: Head -->
		<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(./assets/media/misc/bg-1.jpg)">
			<div class="kt-user-card__avatar">
				<!-- <img *ngIf="user.pic" alt="Pic" [attr.src]="user.pic" />-->

				<span [hidden]="false" class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">
					{{ userDetail.userName + ' ' + userDetail.userLName |firstLetter}}
				</span>
			</div>
			<div class="kt-user-card__name">
				{{ userDetail.userName + ' ' + userDetail.userLName }}
			</div>
			<!--<div class="kt-user-card__badge">
				<span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
			</div>-->
		</div>
		<!--end: Head -->

		<!--begin: Navigation -->
		<div class="kt-notification">
			<a [routerLink]="['/profile']" class="kt-notification__item">
				<div class="kt-notification__item-icon">
					<i class="flaticon2-calendar-3 kt-font-success"></i>
				</div>
				<div class="kt-notification__item-details">
					<div class="kt-notification__item-title kt-font-bold">
						{{ 'USER_HEADER.PROFILE' | translate }}
					</div>
					<div class="kt-notification__item-time">
						{{ 'USER_HEADER.PROFILE_DETAIL' | translate }}
					</div>
				</div>
			</a>
			<div class="kt-notification__custom">
				<a href="javascript:;" (click)="logout()" class="btn btn-outline-brand btn-upper btn-sm btn-bold">{{ 'USER_HEADER.LOGOUT' | translate }}</a>
			</div>
		</div>
		<!--end: Navigation -->

		<!--begin: Navigation(alternative) -->
		<ul class="kt-nav kt-margin-b-10 kt-hidden">
			<li class="kt-nav__item">
				<a [routerLink]="['/profile']" class="kt-nav__link">
					<span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
					<span class="kt-nav__link-text">{{ 'USER_HEADER.PROFILE' | translate }}</span>
				</a>
			</li>
			<li class="kt-nav__item kt-nav__item--custom kt-margin-t-15">
				<a (click)="logout()" class="btn btn-outline-brand btn-upper btn-sm btn-bold">{{ 'USER_HEADER.LOGOUT' | translate
					}}</a>
			</li>
		</ul>
		<!--end: Navigation(alternative) -->
	</div>
</div>
