<div class="row">
        <div class="col-xl-12">
            <kt-portlet [class]="'kt-portlet--height-fluid'">
                <kt-portlet-header [title]="'Agregar nueva especialidad'"
                    [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                </kt-portlet-header>
                <kt-portlet-body [class]="'kt-portlet__body--fit'">
                    <br><br>

                    <form class="user-form" (keyup.enter)="addSpecialty()"[formGroup]="treatmentForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <mat-form-field class="example-full-width" >
                                            <mat-label>Nombre</mat-label>
                                            <input matInput type="text" formControlName="name">
                                            <mat-error *ngIf="isControlHasError('name','required')">
                                                <strong>El campo es requerido</strong>
                                            </mat-error>
                                            <mat-error *ngIf="isControlHasError('name','minlength')">
                                                    <strong>El nombre de la especialidad es muy corto</strong>
                                                </mat-error>
                                        </mat-form-field>
                                    </div>                
                                </div>
            
                            </div>
            
            
                            <div class="col-12 row">
                                <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                                    <!-- <button class="btn btn-danger" [routerLink]="[ '/specialties']" >Cancelar</button> -->
                                    <a href="" class="btn btnback" [routerLink]="[ '/specialties']">Regresar</a>
                                    &nbsp;&nbsp;
                                    <button class="btn btnsuccess" color="primary" type="button" (click)="addSpecialty()">Añadir</button>
                                </div>
                            </div>
                        </form>
                    
                </kt-portlet-body>
            </kt-portlet>
        </div>
    </div>
    

    <!-- <div class="row">
            <div class="col-xl-12">
                <kt-portlet [class]="'kt-portlet--height-fluid'">
                    <kt-portlet-header [title]="'Agregar nueva especialidad'"
                        [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                    </kt-portlet-header>
                    <kt-portlet-body [class]="'kt-portlet__body--fit'">
                        <br><br>
                        <form class="user-form" #f="ngForm" (ngSubmit)="addSpecialty(f)">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-xl-6">
                                    <p>
                                        <mat-form-field class="user-full-width">
                                            <input matInput name="specialtyName"
                                                [placeholder]="'Nombre'" required
                                                minlength="3" maxlength="60" type="text" #specialtyName="ngModel" ngModel
                                                [ngModelOptions]="{updateOn: 'blur'}">
                                            <mat-hint
                                                *ngIf="specialtyName.invalid && (specialtyName.dirty || specialtyName.touched || f.submitted)"
                                                class="text-danger">
                                                <span *ngIf="specialtyName.errors.required">
                                                    {{ 'USERS.ADD.INPUTS.NAME.ERRORS.NOT_EMPTY' | translate }}
                                                </span>
                                                <span *ngIf="specialtyName.errors.minlength">
                                                    {{ 'USERS.ADD.INPUTS.NAME.ERRORS.MIN_LENGTH' | translate }}
                                                </span>
                                            </mat-hint>
                                        </mat-form-field>
                                    </p>
                                </div>
                                
                                <div class="col-12 row">
                                    <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                                        <button mat-raised-button type="reset" [routerLink]="['/specialties']"
                                            routerLinkActive="router-link-active">Volver a la lista de especialidades</button>
                                        &nbsp;&nbsp;
                                        <button mat-raised-button color="primary"
                                            type="submit">Añadir especialidad</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </kt-portlet-body>
                </kt-portlet>
            </div>
        </div>
         -->