<div class="table-header">
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
</div>
<div class="table-container mat-elevation-z8">
	<mat-table [dataSource]="dataSource" matSort>
		<ng-container *ngFor="let columnN of displayedColumns" matColumnDef="{{columnN}}">
			<mat-header-cell *matHeaderCellDef mat-sort-header> {{ columnN }} </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{ row.adminID }} </mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;">
		</mat-row>
	</mat-table>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
