.event-form {
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 3%;
}
.event-full-width {
	width: 100%;
}
event-container {
	display: flex;
	flex-direction: column;
}
.event-container > * {
	width: 100%;
}
