<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'EVENTS.ADD.TITLE' | translate"
				[class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<br><br>
				<form class="event-form" #f="ngForm" (ngSubmit)="addEvent(f)" enctype="multipart/form-data">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-xl-10 offset-md-1 offset-xl-1">
							<p>
								<mat-form-field class="event-full-width">
									<input matInput name="eventName"
										[placeholder]="'EVENTS.ADD.INPUTS.NAME.PLACEHOLDER' | translate" required
										minlength="3" maxlength="180" type="text" #eventName="ngModel" ngModel
										[ngModelOptions]="{updateOn: 'blur'}">
									<mat-hint
										*ngIf="eventName.invalid && (eventName.dirty || eventName.touched || f.submitted)"
										class="text-danger">
										<span *ngIf="eventName.errors.required">
											{{ 'EVENTS.ADD.INPUTS.NAME.ERRORS.NOT_EMPTY' | translate }}
										</span>
										<span *ngIf="eventName.errors.minlength">
											{{ 'EVENTS.ADD.INPUTS.NAME.ERRORS.MIN_LENGTH' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-sm-12 col-md-10 col-xl-10 offset-md-1 offset-xl-1">
							<p>
								<mat-form-field class="event-full-width">
									<input matInput name="eventPlace"
										[placeholder]="'EVENTS.ADD.INPUTS.PLACE.PLACEHOLDER' | translate" required
										minlength="3" maxlength="180" type="text" #eventPlace="ngModel" ngModel
										[ngModelOptions]="{updateOn: 'blur'}">
									<mat-hint
										*ngIf="eventPlace.invalid && (eventPlace.dirty || eventPlace.touched || f.submitted)"
										class="text-danger">
										<span *ngIf="eventPlace.errors.required">
											{{ 'EVENTS.ADD.INPUTS.PLACE.ERRORS.NOT_EMPTY' | translate }}
										</span>
										<span *ngIf="eventPlace.errors.minlength">
											{{ 'EVENTS.ADD.INPUTS.PLACE.ERRORS.MIN_LENGTH' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-sm-12 col-md-10 col-xl-10 offset-md-1 offset-xl-1">
							<div class="row">
								<div class="col-3 row" *ngFor="let item of uploader.queue">
									<div class="text-center col-12">
										<img [src]="getUrlPreview(item)" style="max-width: 90%; max-height: 150px;">
									</div>
									<div class="text-center col-12">
										<mat-icon style="cursor: pointer;" (click)="item.remove();fileChangeEvent();">
											delete</mat-icon>
									</div>
								</div>
								<div class="col-3 text-center">
									<input id="eventImages" type="file" accept="image/x-png,image/jpg,image/jpeg"
										ng2FileSelect [uploader]="uploader" multiple name="eventImages" required
										#eventImages="ngModel" ngModel [ngModelOptions]="{updateOn: 'blur'}"
										style="display: none;" (change)="fileChangeEvent()" />
									<img src="https://static.thenounproject.com/png/396915-200.png"
										style="max-width: 75%; max-height: 100px; cursor: pointer;"
										title="Agregar imagen" (click)="openFileBrowser($event)">
								</div>
							</div>
						</div>
						<br>
						<div class="col-sm-12 col-md-10 col-xl-10 offset-md-1 offset-xl-1">
							<p>
								<mat-form-field class="event-full-width">
									<textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
										cdkAutosizeMinRows="10" cdkAutosizeMaxRows="500" name="eventBody"
										[placeholder]="'EVENTS.ADD.INPUTS.BODY.PLACEHOLDER' | translate" required
										minlength="3" maxlength="20000" #eventBody="ngModel" ngModel
										[ngModelOptions]="{updateOn: 'blur'}"></textarea>
									<mat-hint
										*ngIf="eventBody.invalid && (eventBody.dirty || eventBody.touched || f.submitted)"
										class="text-danger">
										<span *ngIf="eventBody.errors.required">
											{{ 'EVENTS.ADD.INPUTS.BODY.ERRORS.NOT_EMPTY' | translate }}
										</span>
										<span *ngIf="eventBody.errors.minlength">
											{{ 'EVENTS.ADD.INPUTS.BODY.ERRORS.MIN_LENGTH' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-12 row">
							<div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
								<button mat-raised-button type="reset" [routerLink]="['/events']"
									routerLinkActive="router-link-active">{{ 'EVENTS.ADD.ACTIONS.RETURN' | translate }}</button>
								&nbsp;&nbsp;
								<button mat-raised-button color="primary"
									type="submit">{{ 'EVENTS.ADD.ACTIONS.ADD' | translate }}</button>
							</div>
						</div>
					</div>
				</form>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
