<div class="row">
<div class="col-xl-12">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
        <kt-portlet-header [title]="'Consultorio'"
            [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
        </kt-portlet-header>
        <kt-portlet-body [class]="'kt-portlet__body--fit'">
            <br><br>

            <form class="user-form" [formGroup]="consultationForm">
                <div class="row">


                    <div class="col-md-4">
                        <div class="form-group">
                            <mat-form-field class="user-full-width">
                                <mat-label>Paciente</mat-label>
                                <input [(ngModel)]="playerName" type="text" placeholder="Nombre --- Correo electrónico" aria-label="Number" matInput (change)="checkPatientOptions()"[formControl]="myControl" [matAutocomplete]="auto" formControlName="patient">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option}}
                                        </mat-option> 
                                    </mat-autocomplete>
                                    <mat-error *ngIf="isControlHasError('patient','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="newPatient">
                        <button class="btn btnsuccess" color="primary" [routerLink]="[ '/patients/add']">Añadir nuevo paciente</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="user-full-width">
                                    <mat-label>Doctor</mat-label>
                                    <input [(ngModel)]="playerName2" type="text" placeholder="Nombre --- Correo electrónico" aria-label="Number" matInput (change)="checkDoctorOptions()" [formControl]="myControlD" [matAutocomplete]="autoTwo" formControlName="doctor">
                                        <mat-autocomplete #autoTwo="matAutocomplete"> 
                                            <mat-option *ngFor="let doctor of filteredDoctors | async" [value]="doctor">
                                            {{doctor}}
                                            </mat-option> 
                                        </mat-autocomplete>
                                        <mat-error *ngIf="isControlHasError('doctor','required')">
                                            <strong>El campo es requerido</strong>
                                        </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                
                <div class="col-12 row">
                        <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                           
                            <!-- <a href="" class="btn btnback" [routerLink]="[ '/specialties']">Regresar</a> -->
                            &nbsp;&nbsp;
                            <button class="btn btnsuccess" color="primary" (click)="startConsultation()">Comenzar</button>
                        </div>
                    </div>
            </form>



                
                
                
                
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>

