
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <kt-portlet>
            <kt-portlet-body>
                <br><br>
                <h3>{{data.patientName}} {{data.patientLName}}</h3>
                <p>{{dataDetail.medicalCenterName}}</p>
                <br>
                <div >
                    <div class="patientInfo">
                        <strong>Edad:</strong>
                        <p *ngIf="data.patientAge">{{data.patientAge}} años</p>
                        <p *ngIf="!data.patientAge">----</p>
                    </div>
                    <div class="patientInfo"> 
                        <strong>Tipo de sangre:</strong>
                        <p *ngIf="data.patientBloodType">{{data.patientBloodType}}</p>
                        <p *ngIf="!data.patientBloodType">----</p>
                    </div>
                    <div class="patientInfo"> 
                        <strong>Presión arterial:</strong>
                        <p *ngIf="data.patientBloodPressure">{{data.patientBloodPressure}}</p>
                        <p *ngIf="!data.patientBloodPressure">----</p>
                        </div>
                    <div class="patientInfo">
                        <strong>Alergias:</strong>
                        <p *ngIf="data.patientAllergies">{{data.patientAllergies}}</p> 
                        <p *ngIf="!data.patientAllergies">Ninguna</p>  
                    </div>
                    <div class="patientInfo"> 
                        <strong>Sexo:</strong>
                        <p *ngIf="patientGender">{{this.patientGender}}</p>
                        <p *ngIf="!patientGender">----</p>
                    </div>
                    <div class="patientInfo"> 
                        <strong>Correo:</strong>
                        <p *ngIf="data.patientEmail">{{data.patientEmail}}</p>
                        <p *ngIf="!data.patientEmail">----</p>
                    </div>
                </div>
                <br><br>

                
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col">
            <kt-portlet>
                <h1>Consulta #{{data.medicalConsultationID}}</h1>
                <hr>
                <kt-portlet-body>
                    <h3>Consulta de especialidad</h3>
                    <br>

                    <form class="user-form" [formGroup]="consultationForm">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" >
                                        <mat-label>Signos vitales</mat-label>
                                        <textarea matInput type="text" formControlName="vitals"></textarea>
                                    </mat-form-field>
                                </div>
                            </div> 

                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" >
                                        <mat-label>Motivo de la consulta</mat-label>
                                        <textarea matInput type="text" formControlName="reason"></textarea>  
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" >
                                        <mat-label>Resumen del interrogatorio</mat-label>
                                        <textarea matInput type="text" formControlName="summary"></textarea>  
                                    </mat-form-field>
                                </div>
                            </div>
                                
                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" >
                                        <mat-label>Diagnóstico o problemas clínicos</mat-label>
                                        <textarea matInput type="text" formControlName="diagnosis"></textarea>  
                                    </mat-form-field>
                                </div>
                            </div>
        
                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" >
                                        <mat-label>Resultados</mat-label>
                                        <textarea matInput type="text" formControlName="results"></textarea>  
                                    </mat-form-field>
                                </div>
                            </div>
        
                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" >
                                        <mat-label>Tratamiento</mat-label>
                                        <textarea matInput type="text" formControlName="treatment"></textarea>  
                                    </mat-form-field>
                                </div>
                            </div>
        
                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" >
                                        <mat-label>Pronóstico</mat-label>
                                        <textarea matInput type="text" formControlName="prognosis"></textarea>  
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 row">
                                <div class="col-sm-12 col-md-6 col-xl-6 offset-md-6 offset-xl-6" align="right">
                                    
                                    <a href="" class="btn back" [routerLink]="['/consultations/detail', data.medicalConsultationID]" >Regresar</a>
                                    &nbsp;&nbsp;
                                    <!-- <button class="btn btnsuccess" color="primary" type="button" (click)="addMedicalConsultation()">Enviar prediagnostico</button> -->
                                    <button class="btn btnsuccess" color="primary" type="button" (click)="endMsj()">Enviar prediagnostico</button>
                                </div>
                            </div> 
                    </form>
                                
        
                    


                </kt-portlet-body>
            </kt-portlet>
            
            
            <br>
        </div>
</div>




