<div class="row">
    <div class="col-xl-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Consultorio'"
            [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
            </kt-portlet-header>

            <kt-portlet-body [class]="'kt-portlet__body--fit'">
                <br><br>

                <form class="user-form" [formGroup]="consultationDetailForm">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-xl-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Motivo de la consulta</mat-label>
                                    <textarea matInput type="text" formControlName="reason"></textarea>
                                    <mat-error *ngIf="isControlHasError('reason','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div> 
                    </div>

                    <div class="row">

                        <div class="col-sm-12 col-md-3 col-xl-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Prioridad de la consulta</mat-label>
                                    <input matInput type="text" formControlName="priority">
                                    <mat-error *ngIf="isControlHasError('priority','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                
    
                   
                        <div class="col-sm-12 col-md-3 col-xl-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Altura del paciente</mat-label>
                                    <input matInput type="text" formControlName="height" placeholder="centímetros">
                                    <mat-error *ngIf="isControlHasError('height','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                   
    
                  
                        <div class="col-sm-12 col-md-3 col-xl-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Peso del paciente</mat-label>
                                    <input matInput type="text" formControlName="weight" placeholder="kilogramos">
                                    <mat-error *ngIf="isControlHasError('weight','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                  
    
                   
                        <div class="col-sm-12 col-md-3 col-xl-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Presión arterial</mat-label>
                                    <input matInput type="text" formControlName="blood_pressure">
                                    <mat-error *ngIf="isControlHasError('blood_pressure','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-xl-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Signos vitales</mat-label>
                                    <textarea matInput type="text" formControlName="vital_signs"></textarea>
                                    <mat-error *ngIf="isControlHasError('vital_signs','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-xl-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Resumen del interrogatorio</mat-label>
                                    <textarea matInput type="text" formControlName="summary"></textarea>
                                    <mat-error *ngIf="isControlHasError('summary','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-xl-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Diagnóstico o problemas clínicos</mat-label>
                                    <textarea matInput type="text" formControlName="diagnosis"></textarea>
                                    <mat-error *ngIf="isControlHasError('diagnosis','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-xl-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Tratamiento</mat-label>
                                    <textarea matInput type="text" formControlName="treatment"></textarea>
                                    <mat-error *ngIf="isControlHasError('treatment','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-xl-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Pronóstico</mat-label>
                                    <textarea matInput type="text" formControlName="prognosis"></textarea>
                                    <mat-error *ngIf="isControlHasError('prognosis','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 row">
                        <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                            <!-- <button class="btn btn-danger" [routerLink]="[ '/specialties']" >Cancelar</button> -->
                            <a href="" class="btn btnback" (click)="cancelConsultation()" [routerLink]="[ '/doctors']">Cancelar</a>
                            &nbsp;&nbsp;
                            <button class="btn btnsuccess" color="primary" type="button" (click)="editConsultation()">Guardar</button>
                        </div>
                    </div>
                  
                    



                </form>
                
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>



