<div class="row">
    <div class="col-xl-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Editar paciente'"
                [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
            </kt-portlet-header>
            <kt-portlet-body [class]="'kt-portlet__body--fit'">
                <br><br>
                
                
                
                <form class="user-form" (keyup.enter)="addPatient()" [formGroup]="patientForm">
                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-xl-6">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Nombre</mat-label>
                                    <input matInput type="text" formControlName="name">
                                    <mat-error *ngIf="isControlHasError('name','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                    <mat-error *ngIf="isControlHasError('name','minlength')">
                                        <strong>El nombre del doctor es muy corto</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput type="text" formControlName="lname">
                                    <mat-error *ngIf="isControlHasError('lname','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                    <mat-error *ngIf="isControlHasError('lname','minlength')">
                                        <strong>El apellido del doctor es muy corto</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Correo electrónico</mat-label>
                                    <input matInput type="text" formControlName="email">
                                    <mat-error *ngIf="isControlHasError('email','required')">
                                        <strong>El campo es requerido</strong>
                                    </mat-error>
                                    <mat-error *ngIf="isControlHasError('email','email')">
                                        <strong>El correo electrónico no es válido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                         
                        <div class="col-sm-12 col-md-6 col-xl-6">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Número telefónico</mat-label>
                                    <input matInput type="number" formControlName="phone">
                                </mat-form-field>
                            </div>
                        </div>
                        <br><br><br>

                        <div class="col-sm-12 col-md-4 col-xl-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Estado</mat-label>
                                    <input matInput type="text" formControlName="state">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-xl-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-select placeholder="Género" formControlName="gender">
                                        <mat-option [value]="0">Femenino</mat-option>
                                        <mat-option [value]="1">Masculino</mat-option>
                                    
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-xl-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-select placeholder="Tipo de sangre" formControlName="blood">
                                        <mat-option value="A+">A+</mat-option>
                                        <mat-option value="B+">B+</mat-option>
                                        <mat-option value="AB+">AB+</mat-option>
                                        <mat-option value="O+">O+</mat-option>
                                        <mat-option value="A-">A-</mat-option>
                                        <mat-option value="B-">B-</mat-option>
                                        <mat-option value="AB-">AB-</mat-option>
                                        <mat-option value="O-">O-</mat-option>
                                    
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-xl-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Fecha de nacimiento (YYYY/MM/DD)</mat-label>
                                    <input matInput type="text" formControlName="bdate">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-xl-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Alergias</mat-label>
                                    <input matInput type="text" formControlName="allergies">
                                </mat-form-field>
                            </div>
                        </div>
                            
                    </div>
                    <div class="col-12 row">
                            <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                                <!-- <button class="btn btn-danger" [routerLink]="[ '/specialties']" >Cancelar</button> -->
                                <a href="" class="btn btnback" [routerLink]="[ '/patients']">Regresar</a>
                                &nbsp;&nbsp;
                                <button class="btn btnsuccess" color="primary" type="button" (click)="editPatient()">Guardar</button>
                            </div>
                        </div>
                </form>
                
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>
