<div class="row">
        <div class="col-xl-12">
            <kt-portlet [class]="'kt-portlet--height-fluid'">
                <kt-portlet-header [title]="'SPECIALTIES.INDEX.TITLE' | translate" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                    <ng-container ktPortletTools>
                        <div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline">
                            <button ngbDropdownToggle type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md">
                                <i class="flaticon-more-v2"></i>
                            </button>
                            <div ngbDropdownMenu class="dropdown-menu">
                                <ul class="kt-nav">
                                    <li class="kt-nav__item">
                                        <a [routerLink]="['add']" routerLinkActive="router-link-active" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-add-circular-button"></i>
                                            <span class="kt-nav__link-text">{{ 'SPECIALTIES.INDEX.ACTIONS.ADD' | translate }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ng-container>
                </kt-portlet-header>
                <kt-portlet-body [class]="'kt-portlet__body--fit'">
                    <div class="table-header" *ngIf="(allDoctors2$ | async) as allDoctors2; else loading">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'PLANS.INDEX.TABLE.FILTER' | translate }}">
                        </mat-form-field>
                    </div>
                    <div class="table-container mat-elevation-z8">
                        <mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="doctors2ID">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'SPECIALTIES.INDEX.TABLE.ID' | translate }} </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{ row.planID }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="doctors2Name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Nombre </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{ row.doctor_name }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="doctors2LName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Apellido </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    {{ row.doctor_lname }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="doctors2Specialty">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Especialidad </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    {{ row.fk_specialty }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="doctors2Duration">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'SPECIALTIES.INDEX.TABLE.DURATION' | translate }} </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    {{ row.planFrecuency + ' ' + row.planInterval }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>
                                    {{ 'PLANS.INDEX.TABLE.ACTIONS' | translate }} </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button (click)="enablePlan(row.planID);" title="{{ 'PLANS.INDEX.TABLE.HELP_ENABLE' | translate }}" *ngIf="row.planStatus == 1" mat-icon-button>
                                        <mat-icon aria-label="Plan enable">gps_off</mat-icon>
                                    </button>
                                    <button (click)="disablePlan(row.planID);" title="{{ 'PLANS.INDEX.TABLE.HELP_DISABLE' | translate }}" *ngIf="row.planStatus == 0" mat-icon-button>
                                        <mat-icon aria-label="Plan enable">block</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['detail',row.planID]" style="cursor: pointer;" title="{{ 'PLANS_REQUESTS.INDEX.TABLE.MESSAGES.DETAIL_REQUEST' | translate }}">
                            </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </kt-portlet-body>
            </kt-portlet>
        </div>
    </div>
    <ng-template #loading>
        <p>
            Cargando Proyectos
        </p>
    </ng-template>
    