<kt-portlet>
	<kt-portlet-header [title]="'USER_HEADER.PROFILE' | translate" [class]="'kt-portlet__head--lg'">
	</kt-portlet-header>
	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					{{ 'PROFILE.DETAIL.TITLE' | translate }}
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div>

						<form class="user-form" (keyup.enter)="editUser()" [formGroup]="userForm">
							<div class="row">
								<div class="col-sm-12 col-md-4 col-xl-4">
									<div class="form-group">
										<mat-form-field class="example-full-width" >
											<mat-label>Nombres</mat-label>
											<input matInput type="text" formControlName="name">
											<mat-error *ngIf="isControlHasError('name','required')">
												<strong>El campo es requerido</strong>
											</mat-error>
											<mat-error *ngIf="isControlHasError('name','minlength')">
												<strong>El nombre del usuario es muy corto</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>

								<div class="col-sm-12 col-md-4 col-xl-4">
										<div class="form-group">
											<mat-form-field class="example-full-width" >
												<mat-label>Apellido</mat-label>
												<input matInput type="text" formControlName="lname">
												<mat-error *ngIf="isControlHasError('lname','required')">
													<strong>El campo es requerido</strong>
												</mat-error>
												<mat-error *ngIf="isControlHasError('name','minlength')">
													<strong>El apellido del usuario es muy corto</strong>
												</mat-error>
											</mat-form-field>
										</div>
								</div>
								<div class="col-sm-12 col-md-4 col-xl-4">
										<div class="form-group">
											<mat-form-field class="example-full-width" >
												<mat-label>Correo electrónico</mat-label>
												<input matInput type="text"  formControlName="email">
												
											</mat-form-field>
										</div>
								</div>
								<div class="col-sm-12 col-md-4 col-xl-4">
										<div class="form-group">
											<mat-form-field class="example-full-width" >
												<mat-label>Tipo de usuario</mat-label>
												<input matInput type="text"  formControlName="type">
											</mat-form-field>
										</div>
								</div>
								<div class="col-sm-12 col-md-4 col-xl-4">
										<div class="form-group">
											<mat-form-field class="example-full-width" >
												<mat-label>Fecha de creación</mat-label>
												<input matInput type="text"  formControlName="date">
											</mat-form-field>
										</div>
								</div>	
							</div>

							<div class="col-12 row">
								<div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
									<a href="javascript:;" class="btn btnback" (click)="resetUser()" [disabled]="selectedTab !== 0" mat-button matTooltip="Reset changes">Reiniciar cambios</a>
									&nbsp;&nbsp;
									<button class="btn btnsuccess" color="primary" type="button" (click)="editUser()">Actualizar información</button>
								</div>
							</div>
								
								

								




						</form>

						<!-- bruh -->

					<!--	<form #f="ngForm" (ngSubmit)="editUser(f)" class="kt-form kt-form--group-seperator-dashed">
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput name="userName" [placeholder]="'PROFILE.DETAIL.INPUTS.FIRST_NAME.PLACEHOLDER' | translate" required minlength="3" maxlength="180" type="text" #userName="ngModel" [(ngModel)]="userDetail.userName" [ngModelOptions]="{updateOn: 'blur'}">
											<mat-hint *ngIf="userName.invalid && (userName.dirty || userName.touched || f.submitted)" class="text-danger">
												<span *ngIf="userName.errors.required">
													{{ 'PROFILE.DETAIL.INPUTS.FIRST_NAME.EMPTY_FIELD' | translate }}
												</span>
												<span *ngIf="userName.errors.minlength">
													{{ 'PROFILE.DETAIL.INPUTS.FIRST_NAME.MIN_LENGTH' | translate }}
												</span>
											</mat-hint>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput name="userLastName" [placeholder]="'PROFILE.DETAIL.INPUTS.LAST_NAME.PLACEHOLDER' | translate" required minlength="3" maxlength="180" type="text" #userLastName="ngModel" [(ngModel)]="userDetail.userLName" [ngModelOptions]="{updateOn: 'blur'}">
											<mat-hint *ngIf="userLastName.invalid && (userLastName.dirty || userLastName.touched || f.submitted)" class="text-danger">
												<span *ngIf="userLastName.errors.required">
													{{ 'PROFILE.DETAIL.INPUTS.LAST_NAME.EMPTY_FIELD' | translate }}
												</span>
												<span *ngIf="userLastName.errors.minlength">
													{{ 'PROFILE.DETAIL.INPUTS.LAST_NAME.MIN_LENGTH' | translate }}
												</span>
											</mat-hint>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput name="userEmail" [placeholder]="'PROFILE.DETAIL.INPUTS.EMAIL.PLACEHOLDER' | translate" disabled minlength="3" maxlength="180" type="text" #userEmail="ngModel" [(ngModel)]="userDetail.userEmail" [ngModelOptions]="{updateOn: 'blur'}">
											<mat-hint *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched || f.submitted)" class="text-danger">
												<span *ngIf="userEmail.errors.required">
													{{ 'PROFILE.DETAIL.INPUTS.EMAIL.EMPTY_FIELD' | translate }}
												</span>
												<span *ngIf="userEmail.errors.minlength">
													{{ 'PROFILE.DETAIL.INPUTS.EMAIL.MIN_LENGTH' | translate }}
												</span>
											</mat-hint>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select name="userType" required #userType="ngModel" disabled [(ngModel)]="userDetail.userType" [placeholder]="'USERS.EDIT.INPUTS.TYPE.PLACEHOLDER' | translate">
												<mat-option *ngFor="let userType of userTypes" [value]="userType.idType">
													{{ userType1 }}
												</mat-option>
											</mat-select>
											<mat-hint *ngIf="userType.invalid && (userType.dirty || userType.touched || f.submitted)" class="text-danger">
												<span *ngIf="userType.errors.required">
													{{ 'PROFILE.DETAIL.INPUTS.TYPE.EMPTY_FIELD' | translate }}
												</span>
											</mat-hint>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput name="userCreated" disabled [placeholder]="'PROFILE.DETAIL.INPUTS.CREATED.PLACEHOLDER' | translate" type="text" #userCreated="ngModel" [(ngModel)]="user.userCreatedString" [ngModelOptions]="{updateOn: 'blur'}">
											<mat-hint *ngIf="userCreated.invalid && (userCreated.dirty || userCreated.touched || f.submitted)" class="text-danger">
												<span *ngIf="userCreated.errors.required">
													{{ 'PROFILE.DETAIL.INPUTS.CREATED.EMPTY_FIELD' | translate }}
												</span>
											</mat-hint>
										</mat-form-field>
									</div>
								</div>

								<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="resetUser()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
									<i class="la la-cog"></i>
									<span class="kt-hidden-mobile"> {{ 'PROFILE.BUTTONS.RESET' | translate }}</span>
								</a>
								<button mat-raised-button color="primary" type="submit" >{{ 'PROFILE.BUTTONS.SAVE' | translate }}</button>
							</div>
						</form> -->
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-exchange-alt"></i>
					{{ 'PROFILE.CHANGE_PASSWORD.TITLE' | translate }}
				</ng-template>
				<ng-template matTabContent>
					<kt-user-profile-password></kt-user-profile-password>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
