<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'EVENTS.DETAIL.TITLE' | translate"
				[class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<mat-card class="new-detail-card" *ngIf="(eventDetail$ | async) as eventDetail; else loading">
					<mat-card-header>
						<mat-card-title>{{ eventDetail.eventName }}</mat-card-title>
						<mat-card-subtitle><b>{{ 'EVENTS.DETAIL.INPUTS.PLACE.PLACEHOLDER' | translate }}:
								{{ eventDetail.eventPlace }}</b>
							<br><b>{{ 'EVENTS.DETAIL.INPUTS.DATE.PLACEHOLDER' | translate }}:
								{{ eventDetail.eventDate | date:'dd/MM/yyyy' }}</b></mat-card-subtitle>
					</mat-card-header>
					<slideshow mat-card-image [height]="'50vh'" [backgroundPosition]="'center center'"
						[backgroundSize]="'contain'" [autoPlay]="true" [showArrows]="true"
						[imageUrls]="eventDetail.eventImage" [lazyLoad]="eventDetail.eventImage?.length > 1"
						[autoPlayWaitForLazyLoad]="true">
					</slideshow>
					<!--<img  [src]="eventDetail.eventImage"
						onerror="this.src='https://www.generationsforpeace.org/wp-content/uploads/2018/03/empty.jpg'"
						[alt]="eventDetail.eventTitle">-->
					<mat-card-content>
						<p class="body-new">
							{{ eventDetail.eventBody }}
						</p>
					</mat-card-content>
					<mat-card-actions>
						<button *ngIf="eventDetail.eventStatus === 0" (click)="publishEvent()"
							mat-button>{{ 'EVENTS.DETAIL.ACTIONS.PUBLISH' | translate }}</button>
						<button *ngIf="eventDetail.eventStatus === 1" (click)="removeEvent()"
							mat-button>{{ 'EVENTS.DETAIL.ACTIONS.REMOVE' | translate }}</button>
						<button [routerLink]="['/events']"
							mat-button>{{ 'EVENTS.DETAIL.ACTIONS.RETURN' | translate }}</button>
					</mat-card-actions>
				</mat-card>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
<ng-template #loading>
	<mat-card class="new-detail-card">
		<mat-card-header>
			<mat-card-title></mat-card-title>
			<mat-card-subtitle></mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p class="body-new">
				{{ 'EVENTS.DETAIL.LOADING' | translate }}
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button [routerLink]="['/events']" mat-button>{{ 'EVENTS.DETAIL.ACTIONS.RETURN' | translate }}</button>
		</mat-card-actions>
	</mat-card>
</ng-template>
