.new-detail-card {
	max-width: 100%;
}

img {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.new-detail-header-image {
	background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
	background-size: cover;
}

.body-new {
	padding: 5px 10px;
}
