<div class="row">
        <div class="col-xl-12">
            <kt-portlet [class]="'kt-portlet--height-fluid'">
                <kt-portlet-header [title]="'DOCTORS.EDIT.TITLE' | translate"
                    [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                </kt-portlet-header>
                <kt-portlet-body [class]="'kt-portlet__body--fit'">
                    <br><br>

                    <form class="user-form" (keyup.enter)="editUser()" [formGroup]="doctorForm">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <mat-form-field class="example-full-width" >
                                            <mat-label>Nombre</mat-label>
                                            <input matInput type="text" formControlName="name">
                                            <mat-error *ngIf="isControlHasError('name','required')">
                                                <strong>El campo es requerido</strong>
                                            </mat-error>
                                            <mat-error *ngIf="isControlHasError('name','minlength')">
                                                <strong>El nombre del doctor es muy corto</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
    
                                <div class="col-sm-12 col-md-6 col-xl-6">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width" >
                                                <mat-label>Apellidos</mat-label>
                                                <input matInput type="text" formControlName="lname">
                                                <mat-error *ngIf="isControlHasError('lname','required')">
                                                    <strong>El campo es requerido</strong>
                                                </mat-error>
                                                <mat-error *ngIf="isControlHasError('lname','minlength')">
                                                    <strong>El apellido del doctor es muy corto</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                </div>
    
                                <div class="col-sm-12 col-md-6 col-xl-6">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width" >
                                                <mat-label>Correo electrónico</mat-label>
                                                <input matInput type="text" formControlName="email">
                                                <mat-error *ngIf="isControlHasError('email','required')">
                                                    <strong>El campo es requerido</strong>
                                                </mat-error>
                                                <mat-error *ngIf="isControlHasError('email','email')">
                                                        <strong>El correo electrónico no es válido</strong>
                                                    </mat-error>
                                               
                                            </mat-form-field>
                                        </div>
                                </div>

                                <div class="col-sm-12 col-md-6 col-xl-6">
                                        <div class="form-group">
                                            
                                            <mat-form-field>
                                                    <mat-select placeholder="Especialidad" formControlName="spec" multiple>
                                                      <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
                                                      <mat-option *ngFor="let spec of specialties" [value]="spec.specialtiesID">{{spec.specialtiesName}}</mat-option>
                                                    </mat-select>
                                            </mat-form-field>
                                        </div>
                                </div>
    
                                
                            </div>
    
                            <div class="col-12 row">
                                <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                                    <!-- <button class="btn btn-danger" [routerLink]="[ '/specialties']" >Cancelar</button> -->
                                    <a href="" class="btn btnback" [routerLink]="[ '/doctors']">Regresar</a>
                                    &nbsp;&nbsp;
                                    <button class="btn btnsuccess" color="primary" type="button" (click)="editUser()">Guardar</button>
                                </div>
                            </div>
                        </form>
                        
                    


                </kt-portlet-body>
            </kt-portlet>
        </div>
    </div>
    

<!-- 

    <form class="user-form" #f="ngForm" *ngIf="userDetail" (ngSubmit)="editUser(f)">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <p>
                        <mat-form-field class="user-full-width">
                            <input matInput name="userName"
                                [placeholder]="'USERS.EDIT.INPUTS.NAME.PLACEHOLDER' | translate" required
                                minlength="3" maxlength="60" type="text" #userName="ngModel"
                                [ngModelOptions]="{updateOn: 'blur'}" [(ngModel)]="userDetail.userName">
                            <mat-hint
                                *ngIf="userName.invalid && (userName.dirty || userName.touched || f.submitted)"
                                class="text-danger">
                                <span *ngIf="userName.errors.required">
                                    {{ 'USERS.EDIT.INPUTS.NAME.ERRORS.NOT_EMPTY' | translate }}
                                </span>
                                <span *ngIf="userName.errors.minlength">
                                    {{ 'USERS.EDIT.INPUTS.NAME.ERRORS.MIN_LENGTH' | translate }}
                                </span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <p>
                        <mat-form-field class="user-full-width">
                            <input matInput name="userLastName"
                                [placeholder]="'DOCTORS.EDIT.INPUTS.LAST_NAME.PLACEHOLDER' | translate" required
                                minlength="3" maxlength="60" type="text" #userLastName="ngModel"
                                [ngModelOptions]="{updateOn: 'blur'}" [(ngModel)]="userDetail.userLName">
                            <mat-hint
                                *ngIf="userLastName.invalid && (userLastName.dirty || userLastName.touched || f.submitted)"
                                class="text-danger">
                                <span *ngIf="userLastName.errors.required">
                                    {{ 'USERS.EDIT.INPUTS.LAST_NAME.ERRORS.NOT_EMPTY' | translate }}
                                </span>
                                <span *ngIf="userLastName.errors.minlength">
                                    {{ 'USERS.EDIT.INPUTS.LAST_NAME.ERRORS.MIN_LENGTH' | translate }}
                                </span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <p>
                        <mat-form-field class="user-full-width">
                            <input matInput name="userEmail"
                                [placeholder]="'USERS.EDIT.INPUTS.EMAIL.PLACEHOLDER' | translate" required
                                minlength="3" maxlength="100" type="email" #userEmail="ngModel"
                                [(ngModel)]="userDetail.userEmail" [ngModelOptions]="{updateOn: 'blur'}"
                                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-]+$">
                            <mat-hint
                                *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched || f.submitted)"
                                class="text-danger">
                                <span *ngIf="userEmail.errors.required">
                                    {{ 'USERS.EDIT.INPUTS.EMAIL.ERRORS.NOT_EMPTY' | translate }}
                                </span>
                                <span *ngIf="userEmail.errors.minlength">
                                    {{ 'USERS.EDIT.INPUTS.EMAIL.ERRORS.MIN_LENGTH' | translate }}
                                </span>
                                <span *ngIf="userEmail.errors.pattern">
                                    {{ 'USERS.EDIT.INPUTS.NAME.ERRORS.EMAIL_FORMAT' | translate }}t
                                </span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <p>
                        <mat-form-field class="user-full-width">
                            <mat-select name="userType" required #userType="ngModel"
                                [(ngModel)]="userDetail.userType"
                                [placeholder]="'ESPECIALIDAD'">
                                <mat-option *ngFor="let userType of userTypes" [value]="userType.idType">
                                    {{ userType.name | translate }}
                                </mat-option>
                            </mat-select>
                            <mat-hint
                                *ngIf="userType.invalid && (userType.dirty || userType.touched || f.submitted)"
                                class="text-danger">
                                <span *ngIf="userType.errors.required">
                                    {{ 'USERS.EDIT.INPUTS.TYPE.ERRORS.NOT_EMPTY' | translate }}
                                </span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div> -->
                <!-- <div class="col-12 row">
                    <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                        <button mat-raised-button type="reset" [routerLink]="['/doctors']"
                            routerLinkActive="router-link-active">{{ 'DOCTORS.EDIT.ACTIONS.RETURN' | translate }}</button>
                        &nbsp;&nbsp;
                        <button mat-raised-button color="primary"
                            type="submit">{{ 'DOCTORS.EDIT.ACTIONS.EDIT' | translate }}</button>
                    </div>
                </div>
            </div>
        </form>  -->