<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'CATALOGS_LIST.PROJECT_STATUS.EDIT.TITLE' | translate"
				[class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<br><br>
				<form class="display-form" #f="ngForm" *ngIf="(statusDetail$ | async) as statusDetail"
					(ngSubmit)="editStatus(f)">
					<div class="row">
						<div class="col-sm-12 col-md-8 col-xl-8 offset-md-2 offset-xl-2">
							<p>
								<mat-form-field class="input-full-width">
									<input matInput name="statusName"
										[placeholder]="'CATALOGS_LIST.PROJECT_STATUS.EDIT.INPUTS.NAME.PLACEHOLDER' | translate"
										required minlength="3" maxlength="60" type="text" #statusName="ngModel"
										[(ngModel)]="statusDetail.statusName" [ngModelOptions]="{updateOn: 'blur'}">
									<mat-hint
										*ngIf="statusName.invalid && (statusName.dirty || statusName.touched || f.submitted)"
										class="text-danger">
										<span *ngIf="statusName.errors.required">
											{{ 'CATALOGS_LIST.PROJECT_STATUS.EDIT.INPUTS.NAME.ERRORS.NOT_EMPTY' | translate }}
										</span>
										<span *ngIf="statusName.errors.minlength">
											{{ 'CATALOGS_LIST.PROJECT_STATUS.EDIT.INPUTS.NAME.ERRORS.MIN_LENGTH' | translate }}
										</span>
									</mat-hint>
								</mat-form-field>
							</p>
						</div>
						<div class="col-12 row">
							<div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
								<button mat-raised-button type="reset" [routerLink]="['/catalogs/status']"
									routerLinkActive="router-link-active">{{ 'CATALOGS_LIST.PROJECT_STATUS.EDIT.ACTIONS.RETURN' | translate }}</button>
								&nbsp;&nbsp;
								<button mat-raised-button color="primary"
									type="submit">{{ 'CATALOGS_LIST.PROJECT_STATUS.EDIT.ACTIONS.EDIT' | translate }}</button>
							</div>
						</div>
					</div>
				</form>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
