<div class="row">
    <div class="col-xl-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-body [class]="'kt-portlet__body--fit'">
                <div class="kt-section">
                    <div class="kt-section__content">
                        
                        <kt-portlet-header [title]="'Gestionar pacientes'"
                        [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                            <ng-container ktPortletTools>
                                <div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline">
                                    <button class="btn btnsuccess addbutton" color="primary" type="button" [routerLink]="['add']" > <i class="kt-nav__link-icon flaticon2-add-circular-button"></i>Añadir paciente</button>
                                </div>
                            </ng-container>
                        </kt-portlet-header>

                        <div class="table-header" *ngIf="(patients$ | async) as users; else loading">
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)"
                                    placeholder="{{ 'DOCTORS.INDEX.TABLE.FILTER' | translate }}">
                            </mat-form-field>
                        </div>
                        <div class="table-container">
                            <table mat-table [dataSource]="dataSource" matSort #patients>
                                <ng-container matColumnDef="patientID">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        ID
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.patientID }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="patientName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Nombres
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.patientName }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="patientLName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Apellidos
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.patientLName }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="patientEmail">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Correo eléctronico
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.patientEmail }} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="patientGender">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Género
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span *ngIf="row.patientGender == 0">Femenino</span>
                                        <span *ngIf="row.patientGender == 1">Masculino</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="patientBdate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Fecha de nacimiento
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.patientBDate }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="patientStatus">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{ 'DOCTORS.INDEX.TABLE.STATUS' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span *ngIf="row.patientStatus == 0">
                                            {{ 'CATALOGS.STATUS.ENABLED' | translate }}</span>
                                        <span *ngIf="row.patientStatus == 1">
                                            {{ 'CATALOGS.STATUS.DISABLED' | translate }}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{ 'DOCTORS.INDEX.TABLE.ACTIONS' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button (click)="disablePatient(row.patientID);"
                                            title="{{ 'DOCTORS.INDEX.TABLE.HELP_DISABLE' | translate }}"
                                            *ngIf="row.patientStatus == 0" mat-icon-button>
                                            <mat-icon aria-label="User enable">gps_off</mat-icon>
                                        </button>
                                        <button (click)="enablePatient(row.patientID);"
                                            title="{{ 'DOCTORS.INDEX.TABLE.HELP_ENABLE' | translate }}"
                                            *ngIf="row.patientStatus == 1" mat-icon-button>
                                            <mat-icon aria-label="User disable">gps_not_fixed
                                            </mat-icon>
                                        </button>
                                        <button [routerLink]="['edit',row.patientID]" mat-icon-button>
                                            <mat-icon aria-label="User edit">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button (click)="deletePatient(row.patientID);">
                                            <mat-icon aria-label="User delete">delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns">
                                </mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>
                            </table>
                            <mat-paginator #usersPage [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>

                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>

<ng-template #loading>
        <p style="padding-left: 5%; padding-right: 5%;">
            Cargando pacientes...
        </p>
    </ng-template>

  