/* You can add global styles to this file, and also import other style files */
@import "assets/vendors/global/vendors.bundle.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/material-design-icons/iconfont/material-icons.css";
@import "../node_modules/highlight.js/styles/googlecode.css";
@import "~angular-notifier/styles";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.position-static {
	position: static;
}

.btnprimary{
	background-color: darkorange !important;
}
.btnsuccess{
	background-color: #77d2d3 !important;
	color:white !important;
}
.btnwarning{
	background-color: #F4203A !important;
	color:white !important;
}
.btnaccent{
	background-color: #EBB50B !important;
	color:white !important;
}
.btnback{
	border: 1px solid lightgray !important;
	//color:white !important;
}

.green-snackbar{
	background: #77d2d3 !important;
}

.swal-button{
	background-color: red !important;
}