<div class="row">
        <div class="col-xl-12">
            <kt-portlet [class]="'kt-portlet--height-fluid'">
                <kt-portlet-header [title]="'Editar especialidad'"
                    [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                </kt-portlet-header>
                <kt-portlet-body [class]="'kt-portlet__body--fit'">
                    <br><br>

                    <form class="user-form" [formGroup]="specialtyForm">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="user-full-width">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" formControlName="name">
                                        <mat-error *ngIf="isControlHasError('name','required')">
                                            <strong>El campo es requerido</strong>
                                        </mat-error>
                                        <mat-error *ngIf="isControlHasError('name','minlength')">
                                                <strong>El nombre de la especialidad es muy corto</strong>
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 row">
                                <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                                    <!-- <button class="btn btn-danger" [routerLink]="[ '/specialties']" >Volver a lista de especialidades</button> -->
                                    <a href="" class="btn btnback" [routerLink]="[ '/specialties']">Regresar</a>
                                    &nbsp;&nbsp;
                                    <button class="btn btnsuccess" color="primary" (click)="editSpecialty()">Guardar</button>
                                </div>
                            </div>
                    </form>



                    
                    
                    
                    
                </kt-portlet-body>
            </kt-portlet>
        </div>
    </div>
    



    <!-- <div class="row">
        <div class="col-xl-12">
            <kt-portlet [class]="'kt-portlet--height-fluid'">
                <kt-portlet-header [title]="'Editar especialidad'"
                    [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                </kt-portlet-header>
                <kt-portlet-body [class]="'kt-portlet__body--fit'">
                    <br><br>
                    
                    <form class="user-form" #f="ngForm" *ngIf="specialtyDetail" (ngSubmit)="editSpecialty(f)">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-xl-6">
                                <p>
                                    <mat-form-field class="user-full-width">
                                        <input matInput name="specialtyName"
                                            [placeholder]="'USERS.EDIT.INPUTS.NAME.PLACEHOLDER' | translate" required
                                            type="text" #specialtyName="ngModel"
                                            [ngModelOptions]="{updateOn: 'blur'}" [(ngModel)]="specialtyDetail.specialtiesName">
                                         <mat-hint
                                            *ngIf="specialtyName.invalid && (specialtyName.dirty || specialtyName.touched || f.submitted)"
                                            class="text-danger">
                                            <span *ngIf="specialtyName.errors.required">
                                                {{ 'USERS.EDIT.INPUTS.NAME.ERRORS.NOT_EMPTY' | translate }}
                                            </span>
                                            <span *ngIf="specialtyName.errors.minlength">
                                                {{ 'USERS.EDIT.INPUTS.NAME.ERRORS.MIN_LENGTH' | translate }}
                                            </span>
                                        </mat-hint> 
                                    </mat-form-field>
                                </p>
                            </div>
                            
                            <div class="col-12 row">
                                <div class="col-sm-12 col-md-6 col-xl-6 offset-md-5 offset-xl-5" align="right">
                                    <button mat-raised-button type="reset" [routerLink]="['/specialties']"
                                        routerLinkActive="router-link-active">Volver a lista de especialidades</button>
                                    &nbsp;&nbsp;
                                    <button mat-raised-button color="primary"
                                        type="submit">Actualizar especialidad</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    
                </kt-portlet-body>
            </kt-portlet>
        </div>
    </div>
     -->