<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-footer__copyright">
			{{today | date:'yyyy'}}&nbsp;&copy;&nbsp;<a href="http://skye.group/" target="_blank" class="kt-link">Skye Group</a>
		</div>
		<div class="kt-footer__menu">
			<a href="#" target="_blank" class="kt-footer__menu-link kt-link">{{ 'FOOTER.CONDITIONS' | translate }}</a>
			<a href="#" target="_blank" class="kt-footer__menu-link kt-link">{{ 'FOOTER.PRIVACY_MESSAGE' | translate }}</a>
		</div>
	</div>
</div>
<!-- end:: Footer -->
