.table-container {
	display: flex;
	flex-direction: column;
	min-width: 300px;
}

.table-header {
	min-height: 64px;
	padding: 8px 24px 0;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.mat-table {
	overflow: auto;
	max-height: 500px;
}

button{
	// max-width: 100px;
	// height: 50px;
}
// br {
// 	display: block;
//    margin: 1px 0;
//  }



mat-header-cell{
	font-size: 13px;
	
}


mat-cell {
	word-break: break-all;
	margin-left: 5px;
	margin-right: 5px;
}

.medCenter{
	margin: 10px 0px 5px 0px;
}
